<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.sqlbuilder"
              language="java"
              message="Needed for sql builder"
              name="sqlexplorer.jar" mvn_uri="mvn:org.talend.libraries/sqlexplorer/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.sqlbuilder"
              language="java"
              message="Needed for sql builder"
              name="squirrel.jar" mvn_uri="mvn:org.talend.libraries/squirrel/6.0.0" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
