<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.scheduler.ui.SchedulerView"
            icon="icons/sample.gif"
            id="org.talend.scheduler.views.Scheduler"
            name="Scheduler">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
          <view
               relative="org.talend.designer.runprocess.ui.views.processviews"
               visible="true"
               id="org.talend.scheduler.views.Schedulers"
               relationship="stack">
         </view>
        
          <showInPart
               id="org.talend.scheduler.views.Scheduler">
         </showInPart>
      </perspectiveExtension>
   </extension>

</plugin>
