<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.scheduler.ui.SchedulerView"
            icon="icons/history_working_set_obj.gif"
            id="org.talend.scheduler.views.Scheduler"
            name="%scheduler_Name">
      </view>
   </extension>
   
   

</plugin>
