<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.repository.filepreview_provider">
      <preview
            class="org.talend.designer.runprocess.shadow.ShadowFilePreview"
            language="perl"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.talend.core.root"
            class="org.talend.designer.runprocess.ui.views.ProcessView"
            icon="icons/process_view.gif"
            id="org.talend.designer.runprocess.ui.views.processview"
            name="%ProcessView.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <context
            id="talend.runProcess"
            name="Run process view"
            parentId="org.eclipse.ui.contexts.window"/>
      <category
            id="Talend"
            name="Talend"/>
      <command
         categoryId="talend"
         id="showRunProcessView"
         name="Show run process view"/>
      <command
            categoryId="Talend"
            id="showAndRunProcess"
            name="Show and Run"/>
      <command
            categoryId="Talend"
            id="debugProcess"
            name="Debug"/>
      <command
            categoryId="Talend"
            id="killProcess"
            name="Kill"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
         commandId="showRunProcessView"
         contextId="talend.global"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F4"/>
      <key
            commandId="showAndRunProcess"
            contextId="talend.global"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="debugProcess"
            contextId="talend.runProcess"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7"/>
      <key
            commandId="killProcess"
            contextId="talend.runProcess"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
   </extension>
   <extension
         point="org.talend.rcp.global_actions">
      <GlobalAction class="org.talend.designer.runprocess.ui.actions.RunProcessAction"/>
      <GlobalAction class="org.talend.designer.runprocess.ui.actions.ShowRunProcessViewAction"/>
   </extension>

</plugin>
