<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.talend.core.external_component">
      <ExternalComponent class="org.talend.designer.mapper.MapperComponent"/>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.mapper.DesignerMapperService"
            serviceId="IDesignerMapperService">
      </Service>
   </extension>
      <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/mapper"
            class="org.talend.designer.mapper.model.emf.mapper.MapperPackage"
            genModel="model/mapper.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mapper -->
      <parser
            type="mapper"
            class="org.talend.designer.mapper.model.emf.mapper.util.MapperResourceFactoryImpl"/>
   </extension>
      <extension
            point="org.talend.core.migrationTask">
         <projecttask
               beforeLogon="false"
               breaks="5.1.1"
               class="org.talend.designer.mapper.migration.TMapSaveToEmfMigrationTask"
               description="Save tmap external data to emf"
               id="org.talend.designer.mapper.migration.TMapSaveToEmfMigrationTask"
               name="TMapSaveToEmfMigrationTask"
               version="5.1.2">
         </projecttask>
      </extension>
      <extension
            point="org.talend.core.runtime.itemRelationship">
         <itemHandler
               class="org.talend.designer.mapper.handlers.MapperSchemaTypeItemRelationshipHandler"
               id="org.talend.designer.mapper.itemHandler.mapperSchema"
               name="Mapper Schema">
         </itemHandler>
      </extension>

</plugin>
