<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.ftp.FTPProviderService"
            serviceId="org.talend.core.ui.IFTPProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.ftp.actions.CreateFTPConnectionAction"
            id="org.talend.repository.ftp.actions.CreateFTPConnectionAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create FTP">
      </Action>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            name="FTP"
            type="FTP">
         <Item
               clazz="org.talend.core.model.properties.FTPConnectionItem">
         </Item>
      </RepositoryComponent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.ftp.ui.viewer.content.FtpContentProvider"
            icon="icons/ftp.png"
            id="org.talend.repository.viewer.metadata.ftp"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="FTP"
            priority="low">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isFtp">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isFtp">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.metadata.action.MetedataNodeActionProvier"
               id="org.talend.repository.ftp.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isFtp">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.ftp.ui.viewer.tester.FtpMetadataNodeTester"
            id="org.talend.repository.node.tester.metadata.ftp"
            namespace="org.talend.repository.node.metadata"
            properties="isFtp"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.ftp.ui.viewer.seeker.FtpRepositorySeeker"
            name="FTP">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="%repository.metadataFileFTP.alias"
            folder="metadata/FTPconnections"
            isResouce="true"
            key="repository.metadataFileFTP"
            label="%repository.metadataFileFTP"
            ordinal="36"
            parentNodeType="METADATA"
            products="DI"
            type="METADATA_FILE_FTP">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.ftp.importProvider"
            name="Ftp importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.ftp.ui.viewer.handler.FtpImportHandler">
            <parameter
                  name="type"
                  value="METADATA_FILE_FTP">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.ftp.repository.migration.UnifyPasswordEncryption4FtpConnectionMigrationTask"
            description="Unify the entryption for FTP password fields"
            id="org.talend.repository.ftp.repository.migration.UnifyPasswordEncryption4FtpConnectionMigrationTask"
            name="UnifyPasswordEncryption4FtpConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
   </extension>

</plugin>
