<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.jobDesigns"
            contentProvider="org.talend.repository.view.di.viewer.content.BusinessModelsContentProvider"
            icon="icons/businessModels.gif"
            id="org.talend.repository.viewer.root.businessModels"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.businessModels"
            priority="higher">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isBusinessModelBranch">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isBusinessModelBranch">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
               id="org.talend.repository.business.model.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isBusinessModelBranch">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.contexts"
            contentProvider="org.talend.repository.view.di.viewer.content.JobDesignsContentProvider"
            icon="icons/jobDesigns.gif"
            id="org.talend.repository.viewer.root.jobDesigns"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.jobDesigns"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isJobBranch">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isJobBranch">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
               id="org.talend.repository.viewer.root.jobDesigns.ActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isJobBranch">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.sqlTemplates"
            contentProvider="org.talend.repository.view.di.viewer.content.ContextsContentProvider"
            icon="icons/contexts.gif"
            id="org.talend.repository.viewer.root.contexts"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.contexts"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isContextTopNode">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isContextTopNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
               id="org.talend.repository.routines.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isContextTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.di.viewer.content.code.RoutinesContentProvider"
            icon="icons/routines.gif"
            id="org.talend.repository.viewer.code.routines"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.routines"
            priority="higher">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.code.isRoutines">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isCodeTopNode">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.code.isRoutines">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.code.isRoutines">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.documentation"
            contentProvider="org.talend.repository.view.di.viewer.content.SqlTemplatesContentProvider"
            icon="icons/sqlTemplates.png"
            id="org.talend.repository.viewer.root.sqlTemplates"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.sqlTemplates"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isSqlTemplatesTopNode">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isSqlTemplatesTopNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
               id="org.talend.repository.sql.templates.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isSqlTemplatesTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      
      
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.recycleBin"
            contentProvider="org.talend.repository.view.di.viewer.content.doc.DocumentationContentProvider"
            icon="icons/documentation.gif"
            id="org.talend.repository.viewer.root.documentation"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.documentation"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDocTopNode">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isDocTopNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
               id="org.talend.repository.documentation.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isDocTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            id="org.talend.repository.view.content.di.fake.for.activation"
            name="%NavigatorContent.activation">
         <enablement>
            <and>
               <instanceof
                     value="org.talend.repository.navigator.TalendRepositoryRoot">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.dummy.alwaysFalse">
               </test>
            </and>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.NodeTester"
            id="org.talend.repository.node.tester"
            namespace="org.talend.repository.node"
            properties="isJobBranch,isBusinessModelBranch"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.NodeTester"
            id="org.talend.repository.view.di.activation.tester"
            namespace="org.talend.dummy"
            properties="alwaysFalse"
            type="org.talend.repository.navigator.TalendRepositoryRoot">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.ContextNodeTester"
            id="org.talend.repository.node.tester.context"
            namespace="org.talend.repository.node"
            properties="isContextTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.SqlTemplatesNodeTester"
            id="org.talend.repository.node.tester.sqlTemplates"
            namespace="org.talend.repository.node"
            properties="isSqlTemplatesTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.RoutinesNodeTester"
            id="org.talend.repository.node.tester.code.routines"
            namespace="org.talend.repository.node.code"
            properties="isRoutines"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.di.viewer.tester.doc.DocumentationNodeTester"
            id="org.talend.repository.node.tester.doc"
            namespace="org.talend.repository.node"
            properties="isDocTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.view.di.viewer.seeker.NormalRepoViewSeeker"
            description="process Job, BM, Context, Routines, SQLTemplate"
            name="Normal">
      </seeker>
      <seeker
            class="org.talend.repository.view.di.viewer.seeker.RoutinesRepositorySeeker"
            name="Routines">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            folder="code/routines"
            icon="icons/routines.gif"
            isResouce="true"
            key="repository.routines"
            label="%NavigatorContent.routines"
            ordinal="1"
            parentNodeType="CODE"
            products="DI"
            type="ROUTINES">
      </repositoryNode>
      <repositoryNode
            folder="context"
            icon="icons/contexts.gif"
            isResouce="true"
            key="repository.context"
            label="%NavigatorContent.contexts"
            products="DI"
            type="CONTEXT">
      </repositoryNode>
      <repositoryNode
            folder="process"
            icon="icons/jobDesigns.gif"
            isResouce="true"
            key="repository.process"
            label="%NavigatorContent.jobDesigns"
            ordinal="4"
            products="DI"
            type="PROCESS">
      </repositoryNode>
      <repositoryNode
            folder="sqlPatterns"
            icon="icons/sqlTemplates.png"
            isAllowMultiName="true"
            isResouce="true"
            key="repository.metadataSQLPatterns"
            label="%NavigatorContent.sqlTemplates"
            ordinal="33"
            products="DI"
            type="SQLPATTERNS">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.view.di.importProvider.context"
            name="Context importer"
            priority="HIGH">
         <importItemsHandler
               class="org.talend.repository.view.di.viewer.handlers.ContextImportHandler">
            <parameter
                  name="type"
                  value="CONTEXT">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importItemsProvider
            id="org.talend.repository.view.di.importProvider.jobDesign"
            name="Job importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.view.di.viewer.handlers.JobDesignImportHandler">
            <parameter
                  name="type"
                  value="PROCESS">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importItemsProvider
            id="org.talend.repository.view.di.importProvider.routine"
            name="Routine importer"
            priority="HIGH">
         <importItemsHandler
               class="org.talend.repository.view.di.viewer.handlers.RoutineImportHandler">
            <parameter
                  name="type"
                  value="ROUTINES">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importItemsProvider
            id="org.talend.repository.view.di.importProvider.sqlTemplate"
            name="Sql Template importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.view.di.viewer.handlers.SqlTemplateImportHandler">
            <parameter
                  name="type"
                  value="SQLPATTERNS">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importResourcesProvider
            description="Routine resources importer"
            id="org.talend.repository.view.di.importResourcesProvider.routine"
            priority="NORMAL">
         <importResoucesHandler
               class="org.talend.repository.view.di.viewer.handlers.RoutineImportHandler">
         </importResoucesHandler>
      </importResourcesProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.itemRelationship">
      <parameterHandler
            class="org.talend.repository.view.di.viewer.handlers.SqlTemplateParameterRelationshipHandler"
            id="org.talend.repository.view.di.parameterHandler.sqlpatternList"
            name="SQLPattern List">
      </parameterHandler>
   </extension>


</plugin>
