body, td, th {
	font-size: 12px;
	color: #404040;
	line-height: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
}
input, textarea {
	border: 1px solid #9BB9F5;
}
body {
	margin: 0px;
	height: 100%;
	background-color: #EBEBDB;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a:link.xh {
	color: #000000;
	text-decoration: none;
}
a:hover.xh {
	text-decoration: none;
}
a:visited.xh {
	text-decoration: none;
	color: #000000;
}
.hover {
	background: rgb(167,207,223); /* Old browsers */
	color: white
}
.leave {
	background: none;
}
img {
	border: 0px;
}
.style_1 {
	font-size: 16px;
}
.style_2 {
	color: #000000;
}
.style_3 {
	font-weight: bold;
}

.style_4{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

div {
	margin: 0;
	padding: 0
}
#container {
	position:relative;
	left: 0;
	top: 0;	
	width: 100%;
	height: 100%;
}
#container .menu {
	position: absolute;
	left: 0;
	top: 0;	
	width: 200px;
	height: 100%;
	float: left;
	border: 1px solid #9BB9F5;
	border-right: 0px;
}
#container .main1 {
	position: absolute;
	left: 200;
	top: 0;	
	float: left;
	background: #FFFFFF;
}
#menu li {
	display: block;
	cursor: pointer;
	text-align: left;
	padding: 0px 0px;
}
.ulhide {
	display: none;
	overflow: auto;
}
.ulblock {
	display: block;
}
.left_1 {
	width: 100px;
	margin-top: 10px;
	float: left;
	padding-left: 0px;
	vertical-align: top;
	margin-right: 10px;
}
.compDesc {
	height: 200px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	overflow: auto;
	border: 1px solid #9BB9F5;
}
.compImg {
	height: 200px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 10px;
	border: 1px solid #9BB9F5;
}
.reviews {
	width: 60%;
	height: 350px;
	margin-bottom: 10px;
	padding-left: 10px;
	word-break: break-all;
	WORD-WRAP: break-word;
}
.userreview {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	padding-left: 10px;
}
.left_11 {
	width: 100px;
	margin-top: 10px;
	float: left;
	padding-left: 0px;
	vertical-align: top;
	margin-right: 10px;
}
.toolbar {
	background-color: #EBEBDB;
	border: 1px solid #9BB9F5;
	border-bottom: 0px;
	height: 40px;
	padding: 5px;
}
.icon {
	-moz-border-radius: 3px;
	border: 1px solid #EBEBDB;
	border-radius: 3px;
	padding: 5px;
	vertical-align: middle;
	cursor: pointer;
}
a.icon:hover {
	border: 1px solid #9BB9F5;
}
.toolbarButton {
	-moz-border-radius: 3px;
	border: 1px solid #EBEBDB;
	border-radius: 3px;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	width: 140px;
}
a.toolbarButton:hover {
	border: 1px solid #9BB9F5;
}
table.tableStyle {
	width: 600px;
}
.formStyle {
	position: relative;
	height: 100%;
	border: 1px solid #9BB9F5;
	border-top: 0px;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width: 260px;
	cursor: pointer;
}