# To be removed when JIRA TUP-2233 is implemented.

#Camel
camel_*.javajet
footer_route.javajet
header_additional_petalsesb.javajet
header_additional_talendesb_rest.javajet
header_additional_talendesb_routerjob_datas.javajet
header_additional_talendesb_wsprovider.javajet
header_additional_talendesb_rsclient.javajet
header_additional_talendesb_wsconsumer.javajet
header_additional_template.javajet
header_route.javajet
header_route.skeleton
subprocess_header_route.javajet
subprocess_footer_route.javajet

header_additional_box.javajet
header_additional_mdmtrigger.javajet

#MR
mr_*.javajet

#Storm
storm_*.javajet

header_additional_thales.javajet

#Spark
header_additional_spark.javajet
spark_*.javajet
sparkstreaming_*.javajet