<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.jobDesigns"
            contentProvider="org.talend.repository.view.di.viewer.content.BusinessModelsContentProvider"
            icon="icons/businessModels.gif"
            id="org.talend.repository.viewer.root.businessModels"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="BusinessModels"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.RepositoryNodeActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isBusinessModelBranch">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.contexts"
            contentProvider="org.talend.repository.view.di.viewer.content.JobDesignsContentProvider"
            icon="icons/jobDesigns.gif"
            id="org.talend.repository.viewer.root.jobDesigns"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Job Designs"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.viewer.action.RepositoryNodeActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isJobBranch">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.code"
            contentProvider="org.talend.repository.view.di.viewer.content.ContextsContentProvider"
            icon="icons/contexts.gif"
            id="org.talend.repository.viewer.root.contexts"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Contexts"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.sqlTemplates"
            contentProvider="org.talend.repository.view.di.viewer.content.code.CodeTopNodeContentProvider"
            icon="icons/code.png"
            id="org.talend.repository.viewer.root.code"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Code"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.di.viewer.content.code.RoutinesContentProvider"
            icon="icons/routines.gif"
            id="org.talend.repository.viewer.code.routines"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Routines"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isCodeTopNode">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.metadata"
            contentProvider="org.talend.repository.view.di.viewer.content.SqlTemplatesContentProvider"
            icon="icons/sqlTemplates.png"
            id="org.talend.repository.viewer.root.sqlTemplates"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="SQL Templates"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.documentation"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataTopNodeContentProvider"
            icon="icons/metadata.png"
            id="org.talend.repository.viewer.root.metadata"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Metadata"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbDelimited"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataDbConnectionsContentProvider"
            icon="icons/dbConnections.gif"
            id="org.talend.repository.viewer.metadata.dbConnections"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="DB connections">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbPositional"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFileDelimitedContentProvider"
            icon="icons/fileDelimited.gif"
            id="org.talend.repository.viewer.metadata.dbDelimited"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File delimited">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      
      
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbRegexp"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFilePositionalContentProvider"
            icon="icons/filePositional.gif"
            id="org.talend.repository.viewer.metadata.dbPositional"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File Positional"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbXML"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFileRegexpContentProvider"
            icon="icons/fileRegexp.gif"
            id="org.talend.repository.viewer.metadata.dbRegexp"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File Regexp"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbExcel"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFileXMLContentProvider"
            icon="icons/fileXML.gif"
            id="org.talend.repository.viewer.metadata.dbXML"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File XML"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.dbLDIF"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFileExcelContentProvider"
            icon="icons/fileExcel.gif"
            id="org.talend.repository.viewer.metadata.dbExcel"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File Excel"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.ldap"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataFileLDIFContentProvider"
            icon="icons/fileLDIF.gif"
            id="org.talend.repository.viewer.metadata.dbLDIF"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="File LDIF"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.salesforce"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataLDAPContentProvider"
            icon="icons/ldap.png"
            id="org.talend.repository.viewer.metadata.ldap"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="LDAP"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataSalesforceContentProvider"
            icon="icons/salesforce.png"
            id="org.talend.repository.viewer.metadata.salesforce"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Salesforce"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataGenericSchemasContentProvider"
            icon="icons/genericSchemas.png"
            id="org.talend.repository.viewer.metadata.genericSchemas"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Generic Schemas"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.di.viewer.content.metadata.MetadataWebServiceContentProvider"
            icon="icons/webService.png"
            id="org.talend.repository.viewer.metadata.webService"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Web Service"
            priority="normal">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.recycleBin"
            contentProvider="org.talend.repository.view.di.viewer.content.DocumentationContentProvider"
            icon="icons/documentation.gif"
            id="org.talend.repository.viewer.root.documentation"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Documentation"
            priority="high">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.repository.view.di.viewer.content.rules.RulesTopNodeContentProvider"
            icon="icons/rulesManagement.gif"
            id="org.talend.repository.viewer.metadata.rules"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Rules Management"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.di.viewer.content.RecycleBinContentProvider"
            icon="icons/recyclebinempty.png"
            id="org.talend.repository.viewer.root.recycleBin"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="RecycleBin"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            id="org.talend.repository.view.content.di.fake.for.activation"
            name="di.fake.for.activation">
         <enablement>
            <and>
               <instanceof
                     value="org.talend.repository.navigator.TalendRepositoryRoot">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.dummy.alwaysFalse">
               </test>
            </and>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.tester.NodeTester"
            id="org.talend.repository.node.tester"
            namespace="org.talend.repository.node"
            properties="isJobBranch,isMetadataTopNode,isCodeTopNode,isRulesTopNode,isBusinessModelBranch,isDeleted"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.tester.NodeTester"
            id="org.talend.repository.view.di.activation.tester"
            namespace="org.talend.dummy"
            properties="alwaysFalse"
            type="org.talend.repository.navigator.TalendRepositoryRoot">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.code.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.talend.repository.viewer.perspective.filter">
      <perspectiveFilter
            actionProviderId="org.talend.repository.viewer.PerspectiveFilterActionProvider"
            perspectiveId="org.talend.rcp.perspective">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.code.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.metadata.*">
            </contentExtension>
         </includes>
      </perspectiveFilter>
   </extension>


</plugin>
