*.class
*.iml
.idea/
bin/
target/
class/
classes/
.settings/
main/plugins/org.talend.designer.codegen/resources/sparkstreaming_footer.javajet
main/plugins/org.talend.designer.codegen/resources/sparkstreaming_header.javajet
main/plugins/org.talend.designer.codegen/resources/sparkstreaming_subprocess_footer.javajet
main/plugins/org.talend.designer.codegen/resources/sparkstreaming_subprocess_header.javajet
main/plugins/org.talend.designer.codegen/resources/routelet.skeleton
.DS_Store