<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="agentLoadHandler" name="%agentLoadHandler" schema="schema/org.talend.designer.runtime.visualization.agentLoadHandler.exsd"/>
   <extension-point id="heapDumpHandler" name="%heapDumpHandler" schema="schema/org.talend.designer.runtime.visualization.heapDumpHandler.exsd"/>
   <extension-point id="jvmAttachHandler" name="%jvmAttachHandler" schema="schema/org.talend.designer.runtime.visualization.jvmAttachHandler.exsd"/>


</plugin>
