<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.talend.presentation.onboarding.resource.handlers.EventHandler"
            description="response for specified event"
            id="org.talend.presentation.onboarding.resource.handleevent"
            name="handle event">
         <commandParameter
               id="org.talend.presentation.onboarding.resource.handleevent.type"
               name="event type"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.talend.presentation.onboarding.resource.handleevent.step"
               name="step number"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.talend.presentation.onboarding.resource.handleevent.pluginid"
               name="plugin id"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.talend.presentation.onboarding.resource.handleevent.zippath"
               name="zip file path"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.talend.presentation.onboarding.resource.handleevent.jobname"
               name="job name"
               optional="true">
         </commandParameter>
      </command>
   </extension>

</plugin>
