<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="generators" name="Controller Generators" schema="schema/generators.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.designer.core.ui.MultiPageTalendEditor"
            contributorClass="org.talend.designer.core.ui.MultiPageEditorContributor"
            extensions="tl2"
            icon="icons/empty.gif"
            id="org.talend.designer.core.ui.MultiPageTalendEditor"
            name="Designer">
      </editor>
      <editor
            class="org.talend.designer.core.ui.editor.StandAloneTalendPerlEditor"
            contributorClass="org.epic.perleditor.editors.PerlActionContributor"
            extensions="pl, ipl, pm, cgi, epl"
            icon="icons/epic.gif"
            id="org.talend.designer.core.ui.editor.StandAloneTalendPerlEditor"
            name="Epic Perl Editor">
      </editor>
      <editor
            class="org.talend.designer.core.ui.editor.StandAloneTalendJavaEditor"
            extensions="java"
            icon="icons/java.gif"
            id="org.talend.designer.core.ui.editor.StandAloneTalendJavaEditor"
            name="Java Editor">
      </editor> 
   </extension>
   <extension  point="org.eclipse.ui.startup">
	   <startup class="org.eclipse.update.internal.scheduler.SchedulerStartup"/>
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.designer.core.ui.preferences.DesignerPreferencePage"
            id="org.talend.designer.core.ui.preferences.TalendPreferencePage"
            name="%designer">
      </page>
      <page
            category="org.talend.core.prefs"
            class="org.talend.designer.core.ui.preferences.StatsAndLogsPreferenceNodePage"
            id="org.talend.designer.core.ui.preferences.StatsAndLogsPreferenceNodePage"
            name="%statsAndLogs">
      </page>
      <page
            category="org.talend.designer.core.ui.preferences.StatsAndLogsPreferenceNodePage"
            class="org.talend.designer.core.ui.preferences.PERLStatsAndLogsPreferencePage"
            id="org.talend.designer.core.ui.preferences.PERLStatsAndLogsPreferencePage"
            name="Perl"/>
      <page
            category="org.talend.designer.core.ui.preferences.StatsAndLogsPreferenceNodePage"
            class="org.talend.designer.core.ui.preferences.JAVAStatsAndLogsPreferencePage"
            id="org.talend.designer.core.ui.preferences.JAVAStatsAndLogsPreferencePage"
            name="Java"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.designer.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.talend.repository.views.repository"
            labelProvider="org.talend.designer.core.ui.editor.properties.GefEditorLabelProvider"
            typeMapper="org.talend.designer.core.ui.editor.properties.GefEditorTypeMapper">
         <propertyCategory category="TalendEditor"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.talend.repository.views.repository">
         <propertyTab
               category="TalendEditor"
               id="mainTab"
               indented="false"
               label="%main"/>
         <propertyTab
               afterTab="mainTab"
               category="TalendEditor"
               id="propertyTab"
               indented="false"
               label="%properties"/>
         <propertyTab
               afterTab="propertyTab"
               category="TalendEditor"
               id="viewTab"
               label="%view"/>
         <propertyTab
               afterTab="viewTab"
               category="TalendEditor"
               id="docTab"
               label="%documentation"/>
         <propertyTab
               afterTab="contextTab"
               category="TalendEditor"
               id="versionsTab"
               label="%versions"/>
         <propertyTab
               afterTab="versionsTab"
               category="TalendEditor"
               id="logsTab"
               label="%logs"/>
         <propertyTab
               afterTab="repository.versiontab"
               category="logsandstats"
               id="statsAndLogsTab"
               label="%statsAndLogs"/>
         <propertyTab
               afterTab="repository.versiontab"
               category="logsandstats"
               id="emptyStatsAndLogsTab"
               label="%statsAndLogs"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
        <propertySections contributorId="org.talend.repository.views.repository">
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.nodes.MainNodeSection"
               id="MainNodeSection"
               tab="mainTab">
            <input type="org.talend.designer.core.ui.editor.nodes.Node"/>
            <input type="org.talend.designer.core.ui.editor.nodes.NodeLabel"/>
       </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.nodes.PropertyNodeSection"
               id="PropertyNodeSection"
               tab="propertyTab">
            <input type="org.talend.designer.core.ui.editor.nodes.Node"/>
            <input type="org.talend.designer.core.ui.editor.nodes.NodeLabel"/>
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.nodes.ViewNodeSection"
               id="ViewNodeSection"
               tab="viewTab">
            <input type="org.talend.designer.core.ui.editor.nodes.Node"/>
            <input type="org.talend.designer.core.ui.editor.nodes.NodeLabel"/>
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.nodes.DocumentationNodeSection"
               id="DocumentationNodeSection"
               tab="docTab">
            <input type="org.talend.designer.core.ui.editor.nodes.Node"/>
            <input type="org.talend.designer.core.ui.editor.nodes.NodeLabel"/>
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.connections.MainConnectionSection"
               id="MainConnectionSection"
               tab="mainTab">
            <input type="org.talend.designer.core.ui.editor.connections.Connection"/>
            <input type="org.talend.designer.core.ui.editor.connections.ConnectionLabel"/>
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.notes.OpaqueNotePropertySection"
               enablesFor="1"
               id="TextNotePropertySection"
               tab="mainTab">
            <input type="org.talend.designer.core.ui.editor.notes.Note"/>
         </propertySection>
         <propertySection
               afterSection="TextNotePropertySection"
               class="org.talend.designer.core.ui.editor.properties.notes.TextNotePropertySection"
               enablesFor="1"
               id="OpaqueNotePropertySection"
               tab="mainTab">
            <input type="org.talend.designer.core.ui.editor.notes.Note"/>
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.process.StatsAndLogsTabPropertySection"
               enablesFor="1"
               filter="org.talend.designer.core.ui.editor.properties.process.StatsAndLogsSectionFilter"
               id="StatsAndLogsTabPropertySection"
               tab="statsAndLogsTab">
         </propertySection>
         <propertySection
               class="org.talend.designer.core.ui.editor.properties.process.EmptyStatsAndLogsTabPropertySection"
               enablesFor="1"
               filter="org.talend.designer.core.ui.editor.properties.process.EmptyStatsAndLogsSectionFilter"
               id="EmptyStatsAndLogsTabPropertySection"
               tab="emptyStatsAndLogsTab"/>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.talend.core.root"
            class="org.talend.designer.core.ui.views.CodeView"
            icon="icons/codeViewer_view.gif"
            id="org.talend.designer.core.codeView"
            name="%codeViewer"/>
                  <view
                        allowMultiple="false"
                        category="org.talend.core.root"
                        class="org.talend.designer.core.ui.views.problems.ProblemsView"
                        icon="icons/problems_view.gif"
                        id="org.talend.designer.core.ui.views.ProblemsView"
                        name="%problems"/>
                  <view
                        category="org.talend.core.root"
                        class="org.talend.designer.core.ui.views.contexts.ContextsView"
                        icon="platform:/plugin/org.talend.core/icons/context_icon.gif"
                        id="org.talend.designer.core.ui.views.ContextsView"
                        name="%contexts"/>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.designer.core.ui.action.EditProcess"
            id="org.talend.designer.core.actions.editprocess"
            isEditAction="true"
            level="10"
            name="Edit process"/>
      <Action
            class="org.talend.designer.core.ui.action.ReadProcess"
            id="org.talend.designer.core.actions.readprocess"
            isReadAction="true"
            level="11"
            name="Read process"/>
      <Action
            class="org.talend.designer.core.ui.action.CreateProcess"
            id="org.talend.designer.core.actions.createprocess"
            level="10"
            name="Create process"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="talend.modules"
            name="Modules view"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Talend"
            name="Talend"/>
   <command
         categoryId="talend"
         id="showPropertiesView"
         name="Show properties view"/>
   <command
         categoryId="talend"
         id="showProblemsView"
         name="Show problems view"/>
   <command
         categoryId="talend"
         id="showEditorCodePage"
         name="Show editor code page"/>
   <command
         categoryId="talend"
         id="showEditorDesignerPage"
         name="Show designer code page"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">

   <key
         commandId="showPropertiesView"
         contextId="talend.global"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F2"/>
   <key
         commandId="showProblemsView"
         contextId="talend.global"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+F3"/>
   <key
         commandId="showEditorCodePage"
         contextId="talend.global"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+G"/>
   <key
         commandId="showEditorDesignerPage"
         contextId="talend.global"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+H"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.designer.core.ui.action.ShowPropertiesViewAction"/>
      <GlobalAction class="org.talend.designer.core.ui.action.ShowProblemsViewAction"/>
      <GlobalAction class="org.talend.designer.core.ui.action.ShowEditorPageAction"/>
      <GlobalAction class="org.talend.designer.core.ui.action.ShowDesignerPageAction"/>
   </extension>
   <extension
         point="org.talend.core.service">
      <Service
      		serviceId="IDesignerCoreService"
      		class="org.talend.designer.core.DesignerCoreService"/>
      <Service
            class="org.talend.designer.core.ui.editor.TalendEditor"
            serviceId="ITalendEditorService"/>
   </extension>
      <extension
            point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.SchemaTypeGenerator"
            mapping="SCHEMA_TYPE"
            name="Schema Type"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.TextGenerator"
            mapping="TEXT"
            name="Text"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ComboGenerator"
            mapping="CLOSED_LIST"
            name="Combo"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.MemoGenerator"
            mapping="MEMO"
            name="Memo"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ColumnListGenerator"
            mapping="COLUMN_LIST"
            name="Column List"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ConnectionListGenerator"
            mapping="CONNECTION_LIST"
            name="Connection List"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ColumnListGenerator"
            mapping="PREV_COLUMN_LIST"
            name="Pre Column List"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ColumnListGenerator"
            mapping="LOOKUP_COLUMN_LIST"
            name="Lookup Column List"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ComponentListGenerator"
            mapping="COMPONENT_LIST"
            name="Component List"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.SqlMemoGenerator"
            mapping="MEMO_SQL"
            name="Sql Memo"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.PerlMemoGenerator"
            mapping="MEMO_PERL"
            name="Perl Memo"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.CheckGenerator"
            mapping="CHECK"
            name="Check"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.FileGenerator"
            mapping="FILE"
            name="File"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.DirectoryGenerator"
            mapping="DIRECTORY"
            name="Directory"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.VersionGenerator"
            mapping="VERSION"
            name="Version"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.TableGenerator"
            mapping="TABLE"
            name="Table"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ImageGenerator"
            mapping="IMAGE"
            name="Image"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ExternalGenerator"
            mapping="EXTERNAL"
            name="External"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.JavaMemoGenerator"
            mapping="MEMO_JAVA"
            name="Java Memo"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ProcessGenerator"
            mapping="PROCESS_TYPE"
            name="Process Type"/>
      <generator 
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.EncodingTypeControllerGenerator" 
            mapping="ENCODING_TYPE" 
            name="Encoding type" />
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.MappingTypeControllerGenerator"
            mapping="MAPPING_TYPE"
            name="Mapping Type"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.ColorControllerGenerator"
            mapping="COLOR"
            name="Color"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.DbTableControllerGenerator"
            mapping="DBTABLE"
            name="Db Table"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.DateControllerGenerator"
            mapping="DATE"
            name="Date"/>
      <generator
            class="org.talend.designer.core.ui.editor.properties.controllers.generator.DbTypeListGenerator"
            mapping="DBTYPE_LIST"
            name="Db Type List"/>
   </extension>
</plugin>
