<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.unifiedcomponent.controller.UnifiedComponentsGenerator"
            mapping="UNIFIED_COMPONENTS"
            name="Unified Component">
      </generator>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.unifiedcomponent.UnifiedComponentService"
            serviceId="IUnifiedComponentService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="Delta Lake"
            mvn_uri="mvn:Spark/SparkJDBC42/2.6.14.1018/jar"
            name="SparkJDBC42-2.6.14.1018.jar"
            required="true">
      </libraryNeeded>
   </extension>

</plugin>
