<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.external_component">
      <ExternalComponent
            class="org.talend.designer.hl7.HL7InputComponent"></ExternalComponent>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <DragAndDropFilter
            clazz="org.talend.designer.hl7.dnd.HL7RepositoryComponentDndFilter"
            id="org.talend.designer.hl7.RepositoryComponentDndFilter"
            name="HL7 Filter">
      </DragAndDropFilter>
   </extension>

</plugin>
