<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fieldType_mapping" name="FieldType Mapping" schema="schema/fieldType_mapping.exsd"/>
   
   <extension
         point="org.talend.designer.core.process_provider">
      <ProcessProvider
            class="org.talend.designer.core.generic.model.ComponentsProvider"
            pluginId="org.talend.designer.core.generic">
      </ProcessProvider>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
        <projecttask
            beforeLogon="false"
            breaks="6.2.0"
            class="org.talend.designer.core.generic.model.migration.NewSalesforceMigrationTask"
            description="New salesforce migration task"
            id="org.talend.designer.core.generic.model.migration.NewSalesforceMigrationTask"
            name="NewSalesforceMigrationTask"
            version="6.2.0">
        </projecttask>
        <projecttask
              beforeLogon="false"
              breaks="6.2.1"
              class="org.talend.designer.core.generic.model.migration.Salesforce620Migration"
              description="Migrate salesforce components from 6.2.0 to 6.2.1"
              id="org.talend.designer.core.generic.model.migration.Salesforce620Migration"
              name="Salesforce620Migration"
              version="6.2.1">
        </projecttask>
        <projecttask
              beforeLogon="false"
              breaks="6.4.0"
              class="org.talend.designer.core.generic.model.migration.NewAzureBlobMigrationTask"
              description="migration task for jobs using azureBlob cpt to tcomp"
              id="org.talend.designer.core.generic.model.migration.NewAzureBlobMigrationTask"
              name="NewAzureBlobMigrationTask"
              version="6.4.0">
        </projecttask>
       <projecttask
               beforeLogon="false"
               breaks="6.4.0"
               class="org.talend.designer.core.generic.model.migration.NewMarketoMigrationTask"
               description="Migration task for jobs using Marketo components to TCOMP"
               id="org.talend.designer.core.generic.model.migration.NewMarketoMigrationTask"
               name="NewMarketoMigrationTask"
               version="6.4.0">
       </projecttask>
       <projecttask
               beforeLogon="false"
               breaks="6.4.0"
               class="org.talend.designer.core.generic.model.migration.NewNetsuiteMigrationTask"
               description="Migration task for jobs using Netsuite components to TCOMP"
               id="org.talend.designer.core.generic.model.migration.NewNetsuiteMigrationTask"
               name="NewNetsuiteMigrationTask"
               version="6.4.0">
       </projecttask>
       <projecttask
              beforeLogon="false"
              breaks="7.0.1"
              class="org.talend.designer.core.generic.model.migration.Dataprep701MigrationTask"
              description="This Migration task aim for remove the DESIGN_TIME_ONLY flag of TDataSetOutputProperties."
              id="org.talend.designer.core.generic.model.migration.Dataprep701MigrationTask"
              name="Dataprep701MigrationTask"
              version="7.0.1">
        </projecttask>
       <projecttask
               beforeLogon="false"
               breaks="6.5.0"
               class="org.talend.designer.core.generic.model.migration.NewJDBCMigrationTask"
               description="Migration task for jobs using JDBC components to TCOMP"
               id="org.talend.designer.core.generic.model.migration.NewJDBCMigrationTask"
               name="NewJDBCMigrationTask"
               version="6.5.0">
       </projecttask>
       <projecttask
             beforeLogon="false"
             breaks="7.0.1"
             class="org.talend.designer.core.generic.model.migration.NewJDBCConnectionMigrationTask"
             description="Migration task for Generic JDBC connection  to TCOMP JDBC connection"
             id="org.talend.designer.core.generic.model.migration.NewJDBCConnectionMigrationTask"
             name="NewJDBCConnectionMigrationTask"
             version="7.0.1">
       </projecttask>
      <projecttask
             beforeLogon="false"
             breaks="7.4.0"
             class="org.talend.designer.core.generic.model.migration.ChangeJDBCConnectionsPropertiesMigrationTask"
             description="Migration task for JDBC connection to TCOMP JDBC connection"
             id="org.talend.designer.core.generic.model.migration.ChangeJDBCConnectionsPropertiesMigrationTask"
             name="ChangeJDBCConnectionsPropertiesMigrationTask"
             version="7.4.1">
       </projecttask>
         <projecttask
              beforeLogon="false"
              breaks="8.0.0"
              class="org.talend.designer.core.generic.model.migration.ChangeDBConnectionToJDBCTypeMigrationTask"
              id="org.talend.designer.core.generic.model.migration.ChangeDBConnectionToJDBCTypeMigrationTask"
              name="ChangeDBConnectionToJDBCTypeMigrationTask"
              version="8.0.1">
        </projecttask>
       <projecttask
             beforeLogon="false"
             breaks="7.4.0"
             class="org.talend.designer.core.generic.model.migration.RevertJDBCContextModeMappingFileValueMigrationTask"
             description="Migration task for JDBC connection revert mappingFile context mode"
             id="org.talend.designer.core.generic.model.migration.RevertJDBCContextModeMappingFileValueMigrationTask"
             name="RevertJDBCContextModeMappingFileValueMigrationTask"
             version="7.4.1">
       </projecttask>
       <projecttask
             beforeLogon="false"
             breaks="7.0.1"
             class="org.talend.designer.core.generic.model.migration.DriverJarMigration"
             description="Migration task for Driver Jar"
             id="org.talend.designer.core.generic.model.migration.DriverJarMigration"
             name="DriverJarMigration"
             version="7.0.1">
       </projecttask>
       <projecttask
             beforeLogon="true"
             breaks="7.0.1"
             class="org.talend.designer.core.generic.model.migration.ChangeDriverJarForProjectSetting"
             description="Migration task for Driver Jar"
             id="org.talend.designer.core.generic.model.migration.ChangeDriverJarForProjectSetting"
             name="ChangeDriverJarForProjectSetting"
             version="7.0.1">
       </projecttask>
		<projecttask
             beforeLogon="false"
               breaks="7.0.0"
               class="org.talend.designer.core.generic.model.migration.NewGoogleDriveMigrationTask"
               description="Migration task for jobs using Google Drive components to TCOMP"
               id="org.talend.designer.core.generic.model.migration.NewGoogleDriveMigrationTask"
               name="NewGoogleDriveMigrationTask"
               version="7.0.1">
       </projecttask>
       <projecttask
              beforeLogon="false"
              breaks="7.0.1"
              class="org.talend.designer.core.generic.model.migration.NewMarkLogicMigrationTask"
              description="Migration task for jobs using MarkLogic components to TCOMP"
              id="org.talend.designer.core.generic.model.migration.NewMarkLogicMigrationTask"
              name="NewMarkLogicMigrationTask"
              version="7.0.1">
        </projecttask>
        <projecttask
               beforeLogon="false"
               breaks="8.0.1"
               class="org.talend.designer.core.generic.model.migration.NewTckJDBCMigrationTask"
               description="Migration task for jobs using JDBC components to TCK"
               id="org.talend.designer.core.generic.model.migration.NewTckJDBCMigrationTask"
               name="NewTckJDBCMigrationTask"
               version="8.0.1">
       </projecttask>
       <!--<projecttask
             beforeLogon="false"
             breaks="6.3.0"
             class="org.talend.designer.core.generic.model.migration.NewFileDelimitedMigrationTask"
             description="New file delimited migration task"
             id="org.talend.designer.core.generic.model.migration.NewFileDelimitedMigrationTask"
             name="NewFileDelimitedMigrationTask"
             version="6.3.0">
       </projecttask> -->
   </extension>
   <extension
         point="org.talend.designer.core.generic.fieldType_mapping">
      <Mapping
            mapFieldType="CHECK"
            name="widget.type.default+java.lang.Boolean"
            schemaType="java.lang.Boolean"
            widgetType="widget.type.default">
      </Mapping>
      <Mapping
            mapFieldType="CHECK"
            name="widget.type.default+java.util.List&lt;java.lang.Boolean&gt;"
            schemaType="List&lt;java.lang.Boolean&gt;"
            widgetType="CHECK">
      </Mapping>
      <Mapping
            mapFieldType="DATE"
            name="widget.type.default+java.util.Date"
            schemaType="java.util.Date"
            widgetType="widget.type.default">
      </Mapping>
      <Mapping
            mapFieldType="CLOSED_LIST"
            name="widget.type.enumeration"
            widgetType="widget.type.enumeration">
      </Mapping>
      <Mapping
            mapFieldType="SCHEMA_TYPE"
            name="widget.type.default+SCHEMA"
            schemaType="SCHEMA"
            widgetType="widget.type.default">
      </Mapping>
      
       <Mapping
            mapFieldType="BUTTON"
            name="widget.type.button"
            widgetType="widget.type.button">
      </Mapping>
       <Mapping
            mapFieldType="COMPONENT_REFERENCE"
            name="widget.type.component.reference"
            widgetType="widget.type.component.reference">
      </Mapping>
       <Mapping
            mapFieldType="NAME_SELECTION_AREA"
            name="widget.type.name.selection.area"
            widgetType="widget.type.name.selection.area">
      </Mapping>
       <Mapping
            mapFieldType="NAME_SELECTION_REFERENCE"
            name="widget.type.name.selection.widget"
            widgetType="widget.type.name.selection.widget">
      </Mapping>
      <Mapping
             mapFieldType="SCHEMA_EDITOR"
             name="widget.type.schema.editor"
             widgetType="widget.type.schema.editor">
       </Mapping>
       <Mapping
            mapFieldType="SCHEMA_REFERENCE"
            name="widget.type.schema.reference"
            widgetType="widget.type.schema.reference">
      </Mapping>
      <!--Need implement table type on task TUP-4162 ,then disable first.
      <Mapping
            mapFieldType="TABLE"
            name="TABLE"
            widgetType="TABLE">
      </Mapping>
      -->
       <Mapping
            mapFieldType="HIDDEN_TEXT"
            name="widget.type.hidden.text"
            widgetType="widget.type.hidden.text">
      </Mapping>
       <Mapping
             mapFieldType="TABLE"
             name="widget.type.table"
             widgetType="widget.type.table">
       </Mapping>
       <Mapping
             mapFieldType="FILE"
             name="widget.type.file"
             widgetType="widget.type.file">
       </Mapping>
       <Mapping
             mapFieldType="TEXT_AREA"
             name="widget.type.textArea"
             widgetType="widget.type.textArea">
       </Mapping>
       <Mapping
             mapFieldType="JSON_TABLE"
             name="widget.type.jsonTable"
             widgetType="widget.type.jsonTable">
       </Mapping>
       <Mapping
             mapFieldType="DIRECTORY"
             name="widget.type.directory"
             widgetType="widget.type.directory">
       </Mapping>
       <Mapping
             mapFieldType="QUERYSTORE_TYPE"
             name="widget.type.querystoreType"
             widgetType="widget.type.querystoreType">
       </Mapping>
       <Mapping
             mapFieldType="MEMO_SQL"
             name="widget.type.memoSql"
             widgetType="widget.type.memoSql">
       </Mapping>
       <Mapping
             mapFieldType="MAPPING_TYPE"
             name="widget.type.mappingType"
             widgetType="widget.type.mappingType">
       </Mapping>
       <Mapping
             mapFieldType="GUESS_SCHEMA"
             name="widget.type.guessSchema"
             widgetType="widget.type.guessSchema">
       </Mapping>
       <Mapping
             mapFieldType="MODULE_LIST"
             name="widget.type.moduleList"
             widgetType="widget.type.moduleList">
       </Mapping>
   </extension>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.core.generic.controller.generator.ButtonGenerator"
            mapping="BUTTON"
            name="Button">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.NameAndLabelsTreeGenerator"
            mapping="NAME_SELECTION_AREA"
            name="Name Selection Area">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.NameAndLabelsReferenceGenerator"
            mapping="NAME_SELECTION_REFERENCE"
            name="Name Selection Reference">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.ComponentRefGenerator"
            mapping="COMPONENT_REFERENCE"
            name="Component Reference">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.GenericHiddenTextGenerator"
            mapping="HIDDEN_TEXT"
            name="Hidden Text">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.SchemaReferenceGenerator"
            mapping="SCHEMA_REFERENCE"
            name="Schema Reference">
      </generator>
      <generator
            class="org.talend.designer.core.generic.controller.generator.JsonTableGenerator"
            mapping="JSON_TABLE"
            name="Json Table">
      </generator>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.core.generic.service.GenericService"
            serviceId="IGenericService">
      </Service>
   </extension>

</plugin>
