<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.generic.service.GenericWizardService"
            serviceId="IGenericWizardService">
      </Service>
      <Service
            class="org.talend.repository.generic.service.GenericDBService"
            serviceId="IGenericDBService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.repository.generic.view.content.MetadataGenericContentProvider"
            id="org.talend.repository.viewer.metadata.genericConnection"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Generic Connection"
            priority="higher">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isSchema">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.generic.action.GenericNodeActionProvier"
               id="org.talend.repository.generic.action.GenericNodeActionProvier">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.generic.view.tester.GenericConnectionTester"
            id="org.talend.repository.node.tester.metadata.genericConnection"
            namespace="org.talend.repository.node.metadata"
            properties="isGenericConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.generic.action.EditGenericConnectionPropertiesAction"
            id="org.talend.repository.generic.action.EditGenericConnectionPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericMetadata -->
      <package
            uri="http://www.talend.org/genericmetadata"
            class="org.talend.repository.generic.model.genericMetadata.GenericMetadataPackage"
            genModel="model/genericMetadata.genmodel"/>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.generic.handler.GenericRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.generic.ui.dnd.GenericDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.metadata.importProvider.generic"
            name="Generic Import"
            priority="LOW">
         <importItemsHandler
               class="org.talend.repository.generic.handler.GenericImportHandler">
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.repository.generic.ui.context.handler.GenericRepositoryContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.repository.generic.model.FakeGenericExtendNode"
            label="FakeGenericNode"
            products="DI"
            type="FakeGenericNodeType">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.generic.view.seeker.GenericRepositorySeeker"
            name="Generic Connection">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
        <projecttask
            beforeLogon="false"
            breaks="6.2.1"
            class="org.talend.repository.generic.model.migration.Salesforce620WizardMigration"
            description="Salesforce 620 connection migration task"
            id="org.talend.repository.generic.model.migration.Salesforce620WizardMigration"
            name="Salesforce620WizardMigration"
            version="6.2.1">
        </projecttask>
        <projecttask
              beforeLogon="false"
              breaks="6.2.0"
              class="org.talend.repository.generic.model.migration.NewSalesforceWizardMigrationTask"
              description="New salesforce connection migration task"
              id="org.talend.repository.generic.model.migration.NewSalesforceMigrationTask"
              name="NewGenericWizardMigrationTask"
              version="6.2.0">
        </projecttask>
   </extension>
</plugin>
