<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.external_component">
      <ExternalComponent class="org.talend.designer.dbmap.DbMapComponent"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/dbmap"
            class="org.talend.designer.dbmap.model.emf.dbmap.DbmapPackage"
            genModel="model/dbmap.genmodel"/>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.1.1"
            class="org.talend.designer.dbmap.migration.ELTMapSaveToEmfMigrationTask"
            description="Save elt map external data to emf"
            id="org.talend.designer.dbmap.migration.ELTMapSaveToEmfMigrationTask"
            name="ELTMapSaveToEmfMigrationTask"
            version="5.1.2">
      </projecttask>
      <projecttask
            beforeLogon="false"
            breaks="5.1.2"
            class="org.talend.designer.dbmap.migration.DBMapSplitTableConstraintFiltersMigrationTask"
            description="Split the old constraint filter to WHERE filter and other filter"
            id="org.talend.designer.dbmap.migration.DBMapSplitTableConstraintFiltersMigrationTask"
            name="DBMapSplitTableConstraintFiltersMigrationTask"
            version="5.6.0">
      </projecttask>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <DragAndDropFilter
            clazz="org.talend.designer.dbmap.ui.dnd.ETLMapRepositoryComponentDndFilter"
            id="org.talend.designer.dbmap.ETLMapRepositoryComponentDndFilter"
            name="ETL Map Filter">
      </DragAndDropFilter>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.dbmap.service.DbMapService"
            serviceId="IDbMapService">
      </Service>
      <Service
            class="org.talend.designer.dbmap.service.DbMapDesignerService"
            serviceId="IDbMapDesignerService">
      </Service>
   </extension>

</plugin>
