<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.LocalComponentsProvider"
            folderName="components"
            id="org.talend.designer.components.LocalComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.components.LocalProviderService"
            serviceId="ILocalProviderService">
      </Service>
      <Service
            class="org.talend.designer.components.TisLocalProviderService"
            serviceId="ITisLocalProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.designer.codegen.additional_jetfile">
      <jetProvider
            class="org.talend.designer.components.localprovider.BoxJetFileProvider"
            id="org.talend.designer.components.localprovider.BoxJetFileProvider">
      </jetProvider>
   </extension>

    <extension point="org.talend.core.runtime.librariesNeeded">

        <!-- hd insight common libraries -->
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-bindings-xml-3.3.10.jar"
            name="cxf-rt-bindings-xml-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-bindings-xml/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-frontend-jaxrs-3.3.10.jar"
            name="cxf-rt-frontend-jaxrs-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-frontend-jaxrs/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-transports-http-3.3.10.jar"
            name="cxf-rt-transports-http-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-transports-http/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="json_simple-1.1.jar"
            name="json_simple-1.1.jar"
            mvn_uri="mvn:org.talend.libraries/json_simple-1.1/6.0.0"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/json_simple-1.1.jar">
        </libraryNeeded>
        <libraryNeeded
            context=""
            id="javax.ws.rs-api-2.0-m10.jar"
            name="javax.ws.rs-api-2.0-m10.jar"
            mvn_uri="mvn:org.talend.libraries/javax.ws.rs-api-2.0-m10/6.0.0">
        </libraryNeeded>
        <libraryNeeded
              bundleID="org.apache.servicemix.bundles.wsdl4j"
              context="plugin:org.talend.libraries.apache.cxf"
              id="wsdl4j-1.6.3.jar"
              mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
              name="wsdl4j-1.6.3.jar"
              uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/wsdl4j-1.6.3.jar">
        </libraryNeeded>
        <libraryNeeded
            context="Third party library to connect to Windows Azure"
            id="azure-storage-1.2.0.jar"
            name="azure-storage-1.2.0.jar"
            mvn_uri="mvn:org.talend.libraries/azure-storage-1.2.0/6.0.0">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-api-jdo-3.2.6.jar"
             name="datanucleus-api-jdo-3.2.6.jar" mvn_uri="mvn:org.datanucleus/datanucleus-api-jdo/3.2.6"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-api-jdo-3.2.6.jar">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-core-3.2.10.jar"
             name="datanucleus-core-3.2.10.jar" mvn_uri="mvn:org.datanucleus/datanucleus-core/3.2.10"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-core-3.2.10.jar">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-rdbms-3.2.9.jar"
             name="datanucleus-rdbms-3.2.9.jar" mvn_uri="mvn:org.datanucleus/datanucleus-rdbms/3.2.9"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-rdbms-3.2.9.jar">
        </libraryNeeded>
        <libraryNeeded
            id="jopt-simple-3.2.jar"
            name="jopt-simple-3.2.jar" mvn_uri="mvn:org.talend.libraries/jopt-simple-3.2/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <!-- Kafka 2.10-0.8.2.0 -->
        <libraryNeeded
            id="kafka_2.10-0.8.2.0.jar"
            name="kafka_2.10-0.8.2.0.jar" mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.8.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="scala-library-2.10.4.jar"
            name="scala-library-2.10.4.jar" mvn_uri="mvn:org.talend.libraries/scala-library-2.10.4/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="kafka-clients-0.8.2.0.jar"
            name="kafka-clients-0.8.2.0.jar" mvn_uri="mvn:org.talend.libraries/kafka-clients-0.8.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="lz4-1.2.0.jar"
            name="lz4-1.2.0.jar" mvn_uri="mvn:org.talend.libraries/lz4-1.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="metrics-core-2.2.0.jar"
            name="metrics-core-2.2.0.jar" mvn_uri="mvn:com.yammer.metrics/metrics-core/2.2.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="snappy-java-1.1.1.6.jar"
            name="snappy-java-1.1.1.6.jar" mvn_uri="mvn:org.talend.libraries/snappy-java-1.1.1.6/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="zkclient-0.3.jar"
            name="zkclient-0.3.jar" mvn_uri="mvn:org.talend.libraries/zkclient-0.3/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>            
        <libraryNeeded
            id="slf4j-api-1.7.6.jar"
            name="slf4j-api-1.7.6.jar" mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.6/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="slf4j-log4j12-1.6.1.jar"
            name="slf4j-log4j12-1.6.1.jar" mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.6.1/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="log4j-1.2.17.jar"
            name="log4j-1.2.17.jar" mvn_uri="mvn:log4j/log4j/1.2.17"
            context="plugin:org.talend.libraries.apache"
            uripath="platform:/plugin/org.talend.libraries.apache/lib/log4j-1.2.17.jar">
        </libraryNeeded>
        <libraryNeeded
            id="zookeeper-3.4.8.jar"
            name="zookeeper-3.4.8.jar" mvn_uri="mvn:org.apache.zookeeper/zookeeper/3.4.8"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            context="Talend API to execute a job on HD Insight"
            id="talend-bigdata-launcher-1.1.0-20160405.jar"
            name="talend-bigdata-launcher-1.1.0-20160405.jar"
            mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.1.0-20160405/6.0.0">
        </libraryNeeded>
		
		<!-- Bigdata laucher group for Google Dataproc -->
    	<libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="talend-bigdata-launcher-dataproc-2.4.6.jar" name="talend-bigdata-launcher-dataproc-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-dataproc/2.4.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="talend-bigdata-launcher-core-2.4.6.jar" name="talend-bigdata-launcher-core-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-core/2.4.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="talend-bigdata-launcher-jobserver-2.4.6.jar" name="talend-bigdata-launcher-jobserver-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-jobserver/2.4.6"/>
       
		 <!-- Google Dataproc group -->
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-services-storage-v1-rev20181109-1.27.0.jar" name="google-api-services-storage-v1-rev20181109-1.27.0.jar" mvn_uri="mvn:com.google.apis/google-api-services-storage/v1-rev20181109-1.27.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-1.30.1" name="google-api-client-1.30.1.jar" mvn_uri="mvn:com.google.api-client/google-api-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-jackson2-1.30.1" name="google-http-client-jackson2-1.30.1.jar" mvn_uri="mvn:com.google.http-client/google-http-client-jackson2/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-1.30.1" name="google-http-client-1.30.1.jar" mvn_uri="mvn:com.google.http-client/google-http-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-oauth-client-1.30.1" name="google-oauth-client-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-cloud-storage-1.73.0" name="google-cloud-storage-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-storage/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-cloud-core-1.73.0" name="google-cloud-core-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-core/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-cloud-core-http-1.73.0" name="google-cloud-core-http-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-core-http/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-apache-2.1.0.jar" name="google-http-client-apache-2.1.0.jar" mvn_uri="mvn:com.google.http-client/google-http-client-apache/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="gax" name="gax-1.47.1.jar" mvn_uri="mvn:com.google.api/gax/1.47.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="gax-httpjson" name="gax-httpjson-0.64.1.jar" mvn_uri="mvn:com.google.api/gax-httpjson/0.64.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="threetenbp" name="threetenbp-1.3.3.jar" mvn_uri="mvn:org.threeten/threetenbp/1.3.3"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-services-dataproc" name="google-api-services-dataproc-v1-rev132-1.25.0.jar" mvn_uri="mvn:com.google.apis/google-api-services-dataproc/v1-rev132-1.25.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="api-common" name="api-common-1.8.1.jar" mvn_uri="mvn:com.google.api/api-common/1.8.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-auth-library-oauth2-http" name="google-auth-library-oauth2-http-0.16.2.jar" mvn_uri="mvn:com.google.auth/google-auth-library-oauth2-http/0.16.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-auth-library-credentials" name="google-auth-library-credentials-0.16.2.jar" mvn_uri="mvn:com.google.auth/google-auth-library-credentials/0.16.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-appengine-1.30.2" name="google-api-client-appengine-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-appengine/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-servlet-1.30.2" name="google-api-client-servlet-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-servlet/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-gson-1.30.2" name="google-api-client-gson-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-gson/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-jackson2-1.30.2" name="google-api-client-jackson2-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-jackson2/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-java6-1.30.2" name="google-api-client-java6-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-java6/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-protobuf-1.30.2" name="google-api-client-protobuf-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-protobuf/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-api-client-xml-1.30.2" name="google-api-client-xml-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-xml/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="animal-sniffer-annotations-1.14.jar" name="animal-sniffer-annotations-1.14.jar" mvn_uri="mvn:org.codehaus.mojo/animal-sniffer-annotations/1.14"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="checker-compat-qual-2.5.2.jar" name="checker-compat-qual-2.5.2.jar" mvn_uri="mvn:org.checkerframework/checker-compat-qual/2.5.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="error_prone_annotations-2.1.3.jar" name="error_prone_annotations-2.1.3.jar" mvn_uri="mvn:com.google.errorprone/error_prone_annotations/2.1.3"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-appengine-1.30.2" name="google-http-client-appengine-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-appengine/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-gson-1.30.2.jar" name="google-http-client-gson-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-gson/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-http-client-protobuf-1.30.2.jar" name="google-http-client-protobuf-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-protobuf/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-oauth-client-appengine-1.30.1.jar" name="google-oauth-client-appengine-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-appengine/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-oauth-client-java6-1.30.1.jar" name="google-oauth-client-java6-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-java6/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-oauth-client-jetty-1.30.1.jar" name="google-oauth-client-jetty-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-jetty/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-oauth-client-servlet-1.30.1.jar" name="google-oauth-client-servlet-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-servlet/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="grpc-context-1.19.0.jar" name="grpc-context-1.19.0.jar" mvn_uri="mvn:io.grpc/grpc-context/1.19.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="gson-2.8.5.jar" name="gson-2.8.5.jar" mvn_uri="mvn:com.google.code.gson/gson/2.8.5"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="j2objc-annotations-1.3.jar" name="j2objc-annotations-1.3.jar" mvn_uri="mvn:com.google.j2objc/j2objc-annotations/1.3"/>        
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="jdo2-api-2.3-eb.jar" name="jdo2-api-2.3-eb.jar" mvn_uri="mvn:javax.jdo/jdo2-api/2.3-eb"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="jetty-6.1.26.jar" name="jetty-6.1.26.jar" mvn_uri="mvn:org.mortbay.jetty/jetty/6.1.26"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="jetty-util-6.1.26.jar" name="jetty-util-6.1.26.jar" mvn_uri="mvn:org.mortbay.jetty/jetty-util/6.1.26"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="jsr305-3.0.2.jar" name="jsr305-3.0.2.jar" mvn_uri="mvn:com.google.code.findbugs/jsr305/3.0.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="opencensus-api-0.21.0.jar" name="opencensus-api-0.21.0.jar" mvn_uri="mvn:io.opencensus/opencensus-api/0.21.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="opencensus-contrib-http-util-0.21.0.jar" name="opencensus-contrib-http-util-0.21.0.jar" mvn_uri="mvn:io.opencensus/opencensus-contrib-http-util/0.21.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="protobuf-java-3.6.1.jar" name="protobuf-java-3.6.1.jar" mvn_uri="mvn:com.google.protobuf/protobuf-java/3.6.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="transaction-api-1.1.jar" name="transaction-api-1.1.jar" mvn_uri="mvn:javax.transaction/transaction-api/1.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="xpp3-1.1.4c.jar" name="xpp3-1.1.4c.jar" mvn_uri="mvn:xpp3/xpp3/1.1.4c"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="google-cloud-datastore-1.83.0.jar" name="google-cloud-datastore-1.83.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-datastore/1.83.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="json-20170516" name="json-20170516.jar" mvn_uri="mvn:org.json/json/20170516"/>
        <libraryNeeded context="plugin:org.talend.designer.components.sparkprovider" id="failureaccess-1.0.1.jar" name="failureaccess-1.0.1.jar" mvn_uri="mvn:com.google.guava/failureaccess/1.0.1"/>
		
        <!--Libraries needed for HiveContext (tSqlRow in Spark) with Spark 1.3 1.4 1.5 1.6 -->
        <libraryNeededGroup
                description="The lastest SPARK HIVECONTEXT libraries of ALL SPARK VERSIONS"
                id="SPARK-HIVECONTEXT-LIB-ALL_LATEST"
                name="SPARK-HIVECONTEXT-LIB-ALL_LATEST" >
             <library id="datanucleus-api-jdo-3.2.6.jar"/>
             <library id="datanucleus-core-3.2.10.jar"/>
             <library id="datanucleus-rdbms-3.2.9.jar"/>
        </libraryNeededGroup>

        <!-- group of HD Insight common libraries -->
        <libraryNeededGroup
                description="HD Insight common libraries"
                id="HD_INSIGHT_COMMON_LIBRARIES_LATEST"
                name="HD_INSIGHT_COMMON_LIBRARIES_LATEST">
            <library id="talend-bigdata-launcher-1.1.0-20160405.jar" />
            <library id="cxf-rt-bindings-xml-3.3.10.jar" />
            <library id="cxf-rt-frontend-jaxrs-3.3.10.jar" />
            <library id="cxf-rt-transports-http-3.3.10.jar" />
            <library id="json_simple-1.1.jar" />
            <library id="javax.ws.rs-api-2.0-m10.jar" />
            <library id="wsdl4j-1.6.3.jar" />
            <library id="azure-storage-1.2.0.jar" />
        </libraryNeededGroup>

        <!-- Kakfa libraries for 2.10-0.8.2.0 -->
        <libraryNeededGroup
                description="Kakfa libraries for 2.10-0.8.2.0"
                id="KAFKA-LIB-2_10-0_8_2_0"
                name="KAFKA-LIB-2_10-0_8_2_0">
            <library id="kafka_2.10-0.8.2.0.jar"/>
            <library id="scala-library-2.10.4.jar"/>
            <library id="jopt-simple-3.2.jar"/>
            <library id="kafka-clients-0.8.2.0.jar"/>
            <library id="lz4-1.2.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.1.6.jar"/>
            <library id="zkclient-0.3.jar"/>
            <library id="zookeeper-3.4.8.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.6.1.jar"/>
        </libraryNeededGroup>
		
		<libraryNeededGroup description="Dataproc compile dependencies" id="DATAPROC-LAUNCHER" name="DATAPROC-LAUNCHER">
            <library id="google-auth-library-credentials" />
            <library id="google-api-services-storage-v1-rev20181109-1.27.0.jar" />
            <library id="google-api-services-dataproc" />
            <library id="google-cloud-core-1.73.0" />
            <library id="google-cloud-storage-1.73.0" />
            <library id="gax" />
            <library id="gax-httpjson" />
            <library id="threetenbp" />
            <library id="api-common" />
            <library id="google-cloud-core-http-1.73.0" />
            <library id="google-auth-library-oauth2-http" />
            <library id="google-api-client-1.30.1" />
            <library id="google-api-client-appengine-1.30.2" />
            <library id="google-api-client-servlet-1.30.2" />
            <library id="google-api-client-gson-1.30.2" />
            <library id="google-api-client-jackson2-1.30.2" />
            <library id="google-api-client-java6-1.30.2" />
            <library id="google-api-client-protobuf-1.30.2" />
            <library id="google-api-client-xml-1.30.2" />
            <library id="animal-sniffer-annotations-1.14.jar" />
            <library id="checker-compat-qual-2.5.2.jar" />
            <library id="error_prone_annotations-2.1.3.jar" />
            <library id="google-http-client-apache-2.1.0.jar" />
            <library id="j2objc-annotations-1.3.jar" />
            <library id="jdo2-api-2.3-eb.jar" />
            <library id="jetty-6.1.26.jar" />
            <library id="jetty-util-6.1.26.jar" />
            <library id="jsr305-3.0.2.jar" />
            <library id="opencensus-api-0.21.0.jar" />
            <library id="opencensus-contrib-http-util-0.21.0.jar" />
            <library id="protobuf-java-3.6.1.jar" />
            <library id="transaction-api-1.1.jar" />
            <library id="xpp3-1.1.4c.jar" />
            <library id="google-http-client-1.30.1" />
            <library id="google-http-client-appengine-1.30.2" />
            <library id="google-http-client-gson-1.30.2.jar" />
            <library id="google-http-client-jackson2-1.30.1" />
            <library id="google-http-client-protobuf-1.30.2.jar" />
            <library id="google-oauth-client-1.30.1" />
            <library id="google-oauth-client-appengine-1.30.1.jar" />
            <library id="google-oauth-client-java6-1.30.1.jar" />
            <library id="google-oauth-client-jetty-1.30.1.jar" />
            <library id="google-oauth-client-servlet-1.30.1.jar" />
            <library id="grpc-context-1.19.0.jar" />
            <library id="gson-2.8.5.jar" />
            <library id="json-20170516.jar" />
            <library id="jackson-core-asl-1.9.16-TALEND.jar" />
            <library id="jackson-mapper-asl-1.9.16-TALEND.jar" />
            <library id="failureaccess-1.0.1.jar" />
            <library id="talend-bigdata-launcher-dataproc-2.4.6.jar"/>
            <library id="talend-bigdata-launcher-core-2.4.6.jar"/>
            <library id="talend-bigdata-launcher-jobserver-2.4.6.jar"/>
        </libraryNeededGroup>
        
    </extension>

</plugin>
