<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.LocalComponentsProvider"
            folderName="components"
            id="org.talend.designer.components.LocalComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.components.LocalProviderService"
            serviceId="ILocalProviderService">
      </Service>
      <Service
            class="org.talend.designer.components.TisLocalProviderService"
            serviceId="ITisLocalProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.designer.codegen.additional_jetfile">
      <jetProvider
            class="org.talend.designer.components.localprovider.BoxJetFileProvider"
            id="org.talend.designer.components.localprovider.BoxJetFileProvider">
      </jetProvider>
   </extension>

    <extension point="org.talend.core.runtime.librariesNeeded">

        <!-- hd insight common libraries -->
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-bindings-xml-3.3.10.jar"
            name="cxf-rt-bindings-xml-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-bindings-xml/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-frontend-jaxrs-3.3.10.jar"
            name="cxf-rt-frontend-jaxrs-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-frontend-jaxrs/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-rt-transports-http-3.3.10.jar"
            name="cxf-rt-transports-http-3.3.10.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-rt-transports-http/3.3.10">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="json_simple-1.1.jar"
            name="json_simple-1.1.jar"
            mvn_uri="mvn:org.talend.libraries/json_simple-1.1/6.0.0"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/json_simple-1.1.jar">
        </libraryNeeded>
        <libraryNeeded
            context=""
            id="javax.ws.rs-api-2.0-m10.jar"
            name="javax.ws.rs-api-2.0-m10.jar"
            mvn_uri="mvn:org.talend.libraries/javax.ws.rs-api-2.0-m10/6.0.0">
        </libraryNeeded>
        <libraryNeeded
              bundleID="org.apache.servicemix.bundles.wsdl4j"
              context="plugin:org.talend.libraries.apache.cxf"
              id="wsdl4j-1.6.3.jar"
              mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
              name="wsdl4j-1.6.3.jar"
              uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/wsdl4j-1.6.3.jar">
        </libraryNeeded>
        <libraryNeeded
            context="Third party library to connect to Windows Azure"
            id="azure-storage-1.2.0.jar"
            name="azure-storage-1.2.0.jar"
            mvn_uri="mvn:org.talend.libraries/azure-storage-1.2.0/6.0.0">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-api-jdo-3.2.6.jar"
             name="datanucleus-api-jdo-3.2.6.jar" mvn_uri="mvn:org.datanucleus/datanucleus-api-jdo/3.2.6"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-api-jdo-3.2.6.jar">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-core-3.2.10.jar"
             name="datanucleus-core-3.2.10.jar" mvn_uri="mvn:org.datanucleus/datanucleus-core/3.2.10"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-core-3.2.10.jar">
        </libraryNeeded>
        <libraryNeeded
               context="plugin:org.talend.libraries.hadoop.hdp.2.1"
            id="datanucleus-rdbms-3.2.9.jar"
             name="datanucleus-rdbms-3.2.9.jar" mvn_uri="mvn:org.datanucleus/datanucleus-rdbms/3.2.9"
             uripath="platform:/plugin/org.talend.libraries.hadoop.hdp.2.1/lib/datanucleus-rdbms-3.2.9.jar">
        </libraryNeeded>
        <libraryNeeded
            id="jopt-simple-3.2.jar"
            name="jopt-simple-3.2.jar" mvn_uri="mvn:org.talend.libraries/jopt-simple-3.2/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <!-- Kafka 2.10-0.8.2.0 -->
        <libraryNeeded
            id="kafka_2.10-0.8.2.0.jar"
            name="kafka_2.10-0.8.2.0.jar" mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.8.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="scala-library-2.10.4.jar"
            name="scala-library-2.10.4.jar" mvn_uri="mvn:org.talend.libraries/scala-library-2.10.4/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="kafka-clients-0.8.2.0.jar"
            name="kafka-clients-0.8.2.0.jar" mvn_uri="mvn:org.talend.libraries/kafka-clients-0.8.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="lz4-1.2.0.jar"
            name="lz4-1.2.0.jar" mvn_uri="mvn:org.talend.libraries/lz4-1.2.0/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="metrics-core-2.2.0.jar"
            name="metrics-core-2.2.0.jar" mvn_uri="mvn:com.yammer.metrics/metrics-core/2.2.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="snappy-java-1.1.1.6.jar"
            name="snappy-java-1.1.1.6.jar" mvn_uri="mvn:org.talend.libraries/snappy-java-1.1.1.6/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="zkclient-0.3.jar"
            name="zkclient-0.3.jar" mvn_uri="mvn:org.talend.libraries/zkclient-0.3/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>            
        <libraryNeeded
            id="slf4j-api-1.7.6.jar"
            name="slf4j-api-1.7.6.jar" mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.6/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="slf4j-log4j12-1.6.1.jar"
            name="slf4j-log4j12-1.6.1.jar" mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.6.1/6.0.0"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            id="log4j-1.2.17.jar"
            name="log4j-1.2.17.jar" mvn_uri="mvn:log4j/log4j/1.2.17"
            context="plugin:org.talend.libraries.apache"
            uripath="platform:/plugin/org.talend.libraries.apache/lib/log4j-1.2.17.jar">
        </libraryNeeded>
        <libraryNeeded
            id="zookeeper-3.4.8.jar"
            name="zookeeper-3.4.8.jar" mvn_uri="mvn:org.apache.zookeeper/zookeeper/3.4.8"
            context="org.talend.designer.components.bigdata">
        </libraryNeeded>
        <libraryNeeded
            context="Talend API to execute a job on HD Insight"
            id="talend-bigdata-launcher-1.1.0-20160405.jar"
            name="talend-bigdata-launcher-1.1.0-20160405.jar"
            mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.1.0-20160405/6.0.0">
        </libraryNeeded>

        <!--Libraries needed for HiveContext (tSqlRow in Spark) with Spark 1.3 1.4 1.5 1.6 -->
        <libraryNeededGroup
                description="The lastest SPARK HIVECONTEXT libraries of ALL SPARK VERSIONS"
                id="SPARK-HIVECONTEXT-LIB-ALL_LATEST"
                name="SPARK-HIVECONTEXT-LIB-ALL_LATEST" >
             <library id="datanucleus-api-jdo-3.2.6.jar"/>
             <library id="datanucleus-core-3.2.10.jar"/>
             <library id="datanucleus-rdbms-3.2.9.jar"/>
        </libraryNeededGroup>

        <!-- group of HD Insight common libraries -->
        <libraryNeededGroup
                description="HD Insight common libraries"
                id="HD_INSIGHT_COMMON_LIBRARIES_LATEST"
                name="HD_INSIGHT_COMMON_LIBRARIES_LATEST">
            <library id="talend-bigdata-launcher-1.1.0-20160405.jar" />
            <library id="cxf-rt-bindings-xml-3.3.10.jar" />
            <library id="cxf-rt-frontend-jaxrs-3.3.10.jar" />
            <library id="cxf-rt-transports-http-3.3.10.jar" />
            <library id="json_simple-1.1.jar" />
            <library id="javax.ws.rs-api-2.0-m10.jar" />
            <library id="wsdl4j-1.6.3.jar" />
            <library id="azure-storage-1.2.0.jar" />
        </libraryNeededGroup>

        <!-- Kakfa libraries for 2.10-0.8.2.0 -->
        <libraryNeededGroup
                description="Kakfa libraries for 2.10-0.8.2.0"
                id="KAFKA-LIB-2_10-0_8_2_0"
                name="KAFKA-LIB-2_10-0_8_2_0">
            <library id="kafka_2.10-0.8.2.0.jar"/>
            <library id="scala-library-2.10.4.jar"/>
            <library id="jopt-simple-3.2.jar"/>
            <library id="kafka-clients-0.8.2.0.jar"/>
            <library id="lz4-1.2.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.1.6.jar"/>
            <library id="zkclient-0.3.jar"/>
            <library id="zookeeper-3.4.8.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.6.1.jar"/>
        </libraryNeededGroup>

    </extension>

</plugin>
