<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<view name="Component Designer"
			icon="$nl$/icons/componentnav_nav.gif" category="org.eclipse.ui"
			class="org.talend.componentdesigner.ui.view.ComponentNavigator"
			id="org.talend.componentdesigner.ui.view.ComponentNavigator">
		</view>
	</extension>

	<extension point="org.eclipse.ui.ide.resourceFilters">
		<filter pattern="*.project" selected="true" />
	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective class="org.talend.componentdesigner.ui.Perspective"
			id="org.talend.componentdesigner.perspective"
			name="Component Designer (Deprecated)">
		</perspective>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.talend.componentdesigner.perspective">
				
				<actionSet
               		id="org.talend.debug.ui.launchActionSet">
         		</actionSet>
         		<actionSet
               		id="org.talend.repository.CreateactionSet">
         		</actionSet>
         		<actionSet
               		id="org.talend.repository.actionSet">
         		</actionSet>
         		<actionSet
               		id="org.talend.repository.localprovider.actionSet">
         		</actionSet>
		</perspectiveExtension>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<!-- <category
			id="org.talend.componentdesigner.wizard" 
			name="Component Designer"> 
			</category> -->
		<wizard
			id="org.talend.componentdesigner.wizard.componentproject"
			name="Component Designer Project" category="org.eclipse.ui.Basic"
			icon="./icons/component_wizard.gif"
			class="org.talend.componentdesigner.ui.wizard.creatcomponent.CreateComponentWizard">
			<description>Component Designer project</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>





	<extension point="org.eclipse.ui.navigator.viewer">
		<viewer
			viewerId="org.talend.componentdesigner.ui.view.ComponentNavigator">
			<!-- <popupMenu
				allowsPlatformContributions="true"
				id="org.talend.componentdesigner.ui.view.ComponentNavigator#PopupMenu">  
				<insertionPoint name="group.new"/>
				<insertionPoint
				name="group.open"
				separator="true"/>
				<insertionPoint name="group.openWith"/>   
				<insertionPoint name="group.edit"
				separator="true"/>   
				<insertionPoint name="group.reorganize" />         
				<insertionPoint
				name="group.port"
				separator="true"/>     
				<insertionPoint
				name="group.build"
				separator="true"/> 
				<insertionPoint
				name="group.generate"
				separator="true"/> 
				<insertionPoint
				name="group.search"
				separator="true"/>              
				<insertionPoint
				name="additions"
				separator="true"/>              
				<insertionPoint
				name="group.properties"
				separator="true"/>
				
				</popupMenu>-->
		</viewer>
		<viewerContentBinding
			viewerId="org.talend.componentdesigner.ui.view.ComponentNavigator">
			<includes>
				<contentExtension
					pattern="org.eclipse.ui.navigator.resourceContent" />
				<contentExtension
					pattern="org.talend.componentdesigner.resourceContent" />
				<contentExtension
					pattern="org.talend.componentdesigner.ui.navigator.resources.filters.*" />
			</includes>
		</viewerContentBinding>
		<viewerActionBinding
			viewerId="org.talend.componentdesigner.ui.view.ComponentNavigator">
			<includes>
				<actionExtension
					pattern="org.eclipse.ui.navigator.resources.*" />
			</includes>
		</viewerActionBinding>
	</extension>

	<!-- Resource Content  -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent name="componentNavigatorContent"
			priority="low" icon="$nl$/icons/componentnav_nav.gif"
			activeByDefault="true"
			contentProvider="org.talend.componentdesigner.resources.ResourceExtensionContentProvider"
			labelProvider="org.talend.componentdesigner.resources.ResourceExtensionLabelProvider"
			id="org.talend.componentdesigner.resourceContent">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" />
					<adapt type="org.eclipse.core.resources.IFolder" />
					<adapt type="org.eclipse.core.resources.IFile" />
					<instanceof
						value="org.eclipse.core.resources.IResource" />
				</or>
			</enablement>

			<actionProvider
				id="org.talend.componentdesigner.ui.action.CopyComponentActionProvider"
				class="org.talend.componentdesigner.ui.action.provider.CopyComponentActionProvider">
				<enablement>
					<or>
						<adapt
							type="org.eclipse.core.resources.IFolder" />
					</or>
				</enablement>
			</actionProvider>

			<actionProvider
				class="org.talend.componentdesigner.ui.action.provider.NewActionProvider"
				id="org.eclipse.ui.navigator.resources.NewActions">
				<enablement>
					<or>
						<adapt
							type="org.eclipse.core.resources.IResource" />
						<adapt type="java.util.Collection">
							<count value="0" />
						</adapt>
					</or>
				</enablement>
			</actionProvider>

			<actionProvider
				class="org.talend.componentdesigner.ui.action.provider.PushToPaletteActionProvider"
				id="org.eclipse.ui.navigator.resources.PushToPaletteActionProvider">
				<enablement>
					<or>
						<adapt
							type="org.eclipse.core.resources.IFolder" />
					</or>
				</enablement>
			</actionProvider>
			
			<actionProvider
				class="org.talend.componentdesigner.ui.action.provider.CopyFromPaletteActionProvider"
				id="org.eclipse.ui.navigator.resources.CopyFromPaletteActionProvider">
				<enablement>
					<or>
						<adapt
							type="org.eclipse.core.resources.IProject" />
					</or>
				</enablement>
			</actionProvider>
   <actionProvider
         class="org.talend.componentdesigner.ui.action.provider.ValidateComponentXMLActionProvider"
         id="org.talend.componentdesigner.ui.action.provider.ValidateComponentXMLActionProvider">
      <enablement>
         <or>
            <adapt
                  type="org.eclipse.core.resources.IFile">
            </adapt>
         </or>
      </enablement>
   </actionProvider>

			<!-- <actionProvider 
				id="org.talend.componentdesigner.ui.action.EditComponentActionProvider"
				class="org.talend.componentdesigner.ui.action.provider.EditComponentActionProvider">
				<enablement>
				<or>
				<adapt type="org.eclipse.core.resources.IFolder" /> 	
				</or>
				</enablement>
				</actionProvider> -->
			<!--<commonSorter
				class="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionSorter"
				id="org.eclipse.ui.navigator.resources.sorters.defaultSorter">
				<parentExpression>
				<or>           
				<instanceof value="org.eclipse.core.resources.IResource" /> 
				</or>
				</parentExpression>
				</commonSorter>    -->

			<!-- Menu Shortcut Actions for Wizards
				<commonWizard
				type="new"
				wizardId="org.eclipse.ui.wizards.new.folder">
				<enablement>
				<or>
				<adapt type="org.eclipse.core.resources.IFile" />	
				<adapt type="org.eclipse.core.resources.IFolder" />
				<adapt type="org.eclipse.core.resources.IProject" /> 
				<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
				</enablement>
				</commonWizard>   
				<commonWizard
				type="new"
				wizardId="org.eclipse.ui.wizards.new.file">
				<enablement>
				<or>
				<adapt type="org.eclipse.core.resources.IFile" />	
				<adapt type="org.eclipse.core.resources.IFolder" />
				<adapt type="org.eclipse.core.resources.IProject" /> 
				<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
				</enablement>
				</commonWizard>   -->
		</navigatorContent>

		<!-- Action Providers -->




		<!-- Expression Filters 
			<commonFilter
			id="org.eclipse.ui.navigator.resources.filters.startsWithDot"
			name="%filters.startsWithDot.name"
			description="%filters.startsWithDot.description"
			activeByDefault="true"
			>
			<filterExpression>
			<and>
			<adapt type="org.eclipse.core.resources.IResource">
			<test property="org.eclipse.core.resources.name" value=".*"/>
			</adapt>	            
			</and>
			</filterExpression>
			</commonFilter>
			<commonFilter  
			id="org.eclipse.ui.navigator.resources.filters.endsWithClass"
			name="%filters.endsWithClass.name"
			description="%filters.endsWithClass.description"
			activeByDefault="false"
			>
			<filterExpression>
			<and>
			<instanceof value="org.eclipse.core.resources.IFile"/>
			<test property="org.eclipse.core.resources.name" value="*.class"/>	            
			</and>
			</filterExpression>
			</commonFilter> -->
		<commonFilter
			id="org.talend.componentdesigner.ui.navigator.resources.filters.nonComponentProject"
			name="nonComponentProject" description="not the component project"
			activeByDefault="true">
			<filterExpression>
				<and>
					<instanceof
						value="org.eclipse.core.resources.IProject" />
					<not>
						<test property="org.eclipse.core.resources.name"
							value="COMPONENT_PROJECT" />
					</not>
				</and>
			</filterExpression>
		</commonFilter>

	</extension>
	<!--<extension point="org.eclipse.ui.editors">
		<editor id="org.talend.componentdesigner.jeteditor"
			name="ComponentJetEditor" icon="./icons/JETTemplateFile.gif"
			extensions="javajet,perljet"
			class="org.eclipse.jet.internal.editor.JETTextEditor"
			default="false">
		</editor>
	</extension>-->

	<extension point="org.eclipse.ui.preferencePages">
		<page name="Talend Component Designer (Deprecated)"
			class="org.talend.componentdesigner.ui.preferencepage.ComponentProjectPreferencePage"
			id="org.talend.componentdesigner.ui.preferencepage.ComponentProjectPreferencePage">
		</page>
	</extension>

	<extension point="org.talend.core.talendperspectives">
		<TalendPerspective
			refPerspectiveId="org.talend.componentdesigner.perspective"
			talendPerspectiveId="org.talend.componentdesigner.talendperspective" />
	</extension>


</plugin>
