<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-1.5.3.jar" mvn_uri="mvn:org.talend.libraries/asm-1.5.3/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-2.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.1.jar" mvn_uri="mvn:org.talend.libraries/asm-3.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.2.jar" mvn_uri="mvn:org.talend.libraries/asm-3.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.jar" mvn_uri="mvn:org.talend.libraries/asm-3.3/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.1.jar" mvn_uri="mvn:org.talend.libraries/asm-3.3.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-analysis-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-analysis-2.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-1.5.3.jar" mvn_uri="mvn:org.talend.libraries/asm-attrs-1.5.3/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-attrs-2.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-tree-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-tree-2.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-util-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-util-2.2/6.0.0" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
