<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         id="EditorActions"
         point="org.talend.sqlbuilder.editorAction">
      <action
            class="org.talend.sqlbuilder.actions.explain.OracleExplainPlanAction"
            database-product-name="Oracle*"
            icon="icons/explain.gif"
            id="org.talend.sqlbuilder.actions.oracle.explainplan"
            name="Explain Plan (Oracle)"/>
      <action
            class="org.talend.sqlbuilder.actions.explain.DB2ExplainPlanAction"
            database-product-name="IBM DB2"
            icon="icons/explain.gif"
            id="org.talend.sqlbuilder.actions.db2.explainplan"
            name="Explain Plan (DB2)"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.talend.sqlbuilder.ui.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Talend Commands"
            id="talend.commands">
      </category>
      <command
            categoryId="talend.commands"
            id="org.talend.sqlbuilder.actions.ExecSQLAction"
            description="Execute the SQL"
            name="Execute SQL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.talend.sqlbuilder.actions.ExecSQLAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+L">
      </key>
   </extension>
   <extension-point id="editorAction" name="SQL Editor Action" schema="schema/editorAction.exsd"/>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.sqlbuilder.actions.EditQueriesAction"
            id="org.talend.sqlbuilder.EditQueries"
            isEditAction="true"
            isReadAction="false"
            level="12"
            name="%editQueries"/>
      <Action
            class="org.talend.sqlbuilder.actions.ReadQueriesAction"
            id="org.talend.sqlbuilder.ReadQueries"
            isEditAction="false"
            isReadAction="true"
            level="14"
            name="Read Queries"/>
   </extension>
</plugin>
