<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="Talend"
            id="testComponents"
            name="Refresh templates"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="testComponents"
            contextId="talend.global"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+F10"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.designer.components.localprovider.test.TestComponentsAction"/>
   </extension>
</plugin>
