<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-1.5.3.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-2.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.1.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.1.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-analysis-2.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-1.5.3.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-2.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-tree-2.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.asm"
              language="java"
              message="Needed for ASM Component"
              name="asm-util-2.2.jar"
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
