<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repositoryContextualsActions">
	<Action
		    class="org.talend.spagic.engines.client.ui.actions.DeployOnSpagicAction"
		    id="org.talend.repository.ui.actions.deployonspagicaction"
		    level="101"
		    name="Deploy on Spagic"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.core.ui.preferences.ImportExportPreferencePage"
            class="org.talend.spagic.engines.client.ui.preferences.SpagicPreferencePage"
            id="org.talend.repository.prefs.spagic"
            name="Spagic Server (Deprecated)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.spagic.engines.client.ui.preferences.SpagicPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
