<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repositoryContextualsActions">
         
         <Action
            class="org.talend.designer.documentation.generation.actions.CreateDocumentationAction"
            id="org.talend.repository.actions.createdocumentation"
            level="10"
            name="Add documentation"/>
      	<Action
            class="org.talend.designer.documentation.generation.actions.OpenDocumentationAction"
            id="org.talend.repository.actions.opendocumentation"
            isReadAction="true"
            level="11"
            name="Open documentation"/>
      	<Action
            class="org.talend.designer.documentation.generation.actions.ExtractDocumentationAction"
            id="org.talend.repository.actions.extractdocumentation"
            isReadAction="true"
            level="12"
            name="Extract documentation"/>
      	<Action
            class="org.talend.designer.documentation.generation.actions.UpdateDocumentationAction"
            id="org.talend.repository.actions.updatedocumentation"
            isEditAction="true"
            level="10"
            name="Update documentation"/>
       <Action
             class="org.talend.designer.documentation.generation.actions.GenerateDocAsHTMLAction"
             id="org.talend.repository.ui.actions.GenerateDocAsHTMLAction"
             isEditAction="true"
             isReadAction="true"
             name="Generate Doc As HTML">
       </Action>
         
   </extension>
   <extension
         point="org.talend.core.repository.repoViewLinker">
      <linker
            class="org.talend.designer.documentation.viewer.link.DocumentationRepoViewLinker"
            name="Documentation"
            priority="normal">
      </linker>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.designer.documentation.viewer.seeker.DocumentationRepositorySeeker"
            name="Documentation">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            folder="documentations"
            isResouce="true"
            key="repository.documentation"
            label="Documentation"
            ordinal="100"
            products="DI"
            type="DOCUMENTATION">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.designer.documentation.importProvider"
            name="Documentation importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.designer.documentation.viewer.handler.DocumentationImportHandler">
            <parameter
                  name="type"
                  value="DOCUMENTATION">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>

</plugin>
