<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.exchange.ExchangeComponentsProvider"
            folderName="exchange"
            id="org.talend.designer.components.exchange.ExchangeComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.exchange.SharedStudioExchangeComponentsProvider"
            folderName="exchange"
            id="org.talend.designer.components.exchange.SharedStudioExchangeComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.components.exchange.ui.dialog.ExchangeService"
            serviceId="IExchangeService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.designer.components.exchange.ui.views.ExchangeView"
            default="false"
            icon="icons/exchange_view.png"
            id="org.talend.designer.components.exchange.ui.views.ExchangeView"
            name="Exchange">
      </editor>
   </extension>

</plugin>
