<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.service">
      <Service
            class="org.talend.designer.components.model.ComponentsService"
            serviceId="IComponentsService"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.designer.components.ui.ComponentsPreferencePage"
            id="org.talend.designer.components.localprovider.page1"
            name="%components"/>
   </extension>

</plugin>
