<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2006-2019 Talend Inc. - www.talend.com
   Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.help.contentProducer"
               id="org.talend.sdk.component.studio.documentation.content.TaCoKitHelpContentProducer"
               name="TaCoKit Help Content">
        <contentProducer producer="org.talend.sdk.component.studio.documentation.content.TaCoKitHelpContentProducer" />
    </extension>
   <extension
           point="org.eclipse.help.toc">
       <tocProvider
               class="org.talend.sdk.component.studio.documentation.toc.TaCoKitTocProvider">
       </tocProvider>
   </extension>
   <extension
       point="org.eclipse.help.contexts">
       <contextProvider
           class="org.talend.sdk.component.studio.documentation.context.TaCoKitContextProvider"/>
   </extension>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.sdk.component.studio.provider.TaCoKitComponentsProvider"
            folderName="components"
            id="org.talend.sdk.component.studio-integration.TaCoKitComponentsProvider">
      </ComponentsProvider>
   </extension>
  <extension
        point="org.talend.core.repository.repository_node_provider">
     <repositoryNode
           alias="TACOKIT"
           folder="metadata/tacokit"
           icon="icon/configuration_16x16.png"
           isResouce="true"
           key="repository.metadata.TaCoKit"
           label="%TaCoKitConnection"
           ordinal="1"
           parentNodeType="METADATA"
           products="DI"
           type="TACOKIT">
     </repositoryNode>
  </extension>
  <extension
        point="org.talend.core.repository.repository_content">
     <RepositoryContent
           class="org.talend.sdk.component.studio.metadata.handler.TaCoKitRepositoryContentHandler">
     </RepositoryContent>
  </extension>
  <extension
        point="org.talend.core.repository.repository_handler">
     <RepositoryHandler
           class="org.talend.sdk.component.studio.metadata.handler.TaCoKitDragAndDropHandler">
     </RepositoryHandler>
  </extension>
  <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.sdk.component.studio.metadata.handler.tacokit"
            name="Tacokit Import"
            priority="LOW">
         <importItemsHandler
               class="org.talend.sdk.component.studio.metadata.handler.TaCoKitImportHandler">
         </importItemsHandler>
      </importItemsProvider>
      <importResourcesProvider
            description="Process migrator which is launched during process import"
            id="org.talend.sdk.component.studio.metadata.handler.migrator"
            priority="NORMAL">
         <importResoucesHandler
               class="org.talend.sdk.component.studio.metadata.handler.TaCoKitProcessMigrator">
         </importResoucesHandler>
      </importResourcesProvider>
      <importResourcesProvider
            description="Related Items updater updates related Jobs after metadata migration during import"
            id="org.talend.sdk.component.studio.metadata.handler.updater"
            priority="NORMAL">
         <importResoucesHandler
               class="org.talend.sdk.component.studio.metadata.handler.TaCoKitRelatedItemsUpdater">
         </importResoucesHandler>
      </importResourcesProvider>
  </extension>
  <extension
        point="org.talend.core.repository.repositorySeeker">
     <seeker
           class="org.talend.sdk.component.studio.metadata.seeker.TaCoKitMetadataRepoViewSeeker"
           name="TaCoKit Repository Seeker">
     </seeker>
  </extension>
  <extension
        point="org.talend.core.repositoryContextualsActions">
     <Action
           class="org.talend.sdk.component.studio.metadata.action.EditTaCoKitConfigurationAction"
           id="org.talend.sdk.component.metadata.action.EditTaCoKitConfigurationAction"
           isEditAction="true"
           isPropertiesAction="false"
           isReadAction="true"
           level="1"
           name="Edit TaCoKit">
     </Action>
  </extension>
  <extension
        point="org.talend.core.runtime.service">
     <Service
           class="org.talend.sdk.component.studio.service.TaCoKitUpdateService"
           serviceId="ITaCoKitUpdateService">
     </Service>
    <Service
      class="org.talend.sdk.component.studio.service.TaCoKitDependencyService"
      serviceId="ITaCoKitDependencyService">
    </Service>
  </extension>
  <extension
        point="org.talend.designer.core.generators">
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitGuessSchemaGenerator"
           mapping="TACOKIT_GUESS_SCHEMA"
           name="TaCoKit Generator">
     </generator>
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitButtonGenerator"
           mapping="TACOKIT_BUTTON"
           name="TaCoKit Button Generator">
     </generator>
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitValueSelectionGenerator"
           mapping="TACOKIT_VALUE_SELECTION"
           name="Value Selection Generator">
     </generator>
      <generator
              class="org.talend.sdk.component.studio.ui.composite.generator.SuggestableTableGenerator"
              mapping="TACOKIT_SUGGESTABLE_TABLE"
              name="Suggestable Table Generator">
      </generator>
      <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitTextAreaSelectionGenerator"
           mapping="TACOKIT_TEXT_AREA_SELECTION"
           name="Text Area Selection Generator">
     </generator>
     <generator
           class="org.talend.sdk.component.studio.ui.composite.generator.TaCoKitTableGenerator"
           mapping="TACOKIT_TABLE"
           name="TaCoKit Table Generator">
     </generator>
  </extension>
  <extension
        point="org.talend.designer.core.process_provider">
     <ProcessProvider
           class="org.talend.sdk.component.studio.TaCoKitGenericProvider"
           pluginId="org.talend.sdk.component.studio-integration">
     </ProcessProvider>
  </extension>
  <extension
        point="org.talend.repository.view.repositorySorter">
     <sorter
           class="org.talend.sdk.component.studio.metadata.sorter.TaCoKitRepositoryNodeSorter"
           id="org.talend.sdk.component.studio-integration.sorter1"
           name="org.talend.sdk.component.studio-integration.sorter1">
     </sorter>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.talend.sdk.component.studio.metadata.tester.TaCoKitNodeTest"
           id="org.talend.sdk.component.tester.TaCoKitConnectionNodeTester"
           namespace="org.talend.sdk.component.node.metadata"
           properties="isTaCoKitNode"
           type="org.talend.repository.model.RepositoryNode">
     </propertyTester>
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.talend.sdk.component.studio.metadata.provider.TaCoKitMetadataContentProvider"
          icon="icon/configuration_16x16.png"
          id="org.talend.repository.viewer.metadata.TaCoKit"
          labelProvider="org.talend.sdk.component.studio.metadata.provider.TaCoKitMetadataLabelProvider"
          name="TaCoKit Connection"
          priority="higher">
       <possibleChildren>
          <and>
             <instanceof
                   value="org.talend.repository.model.RepositoryNode">
             </instanceof>
             <or>
                 <test
                       property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
                 </test>
                 <test
                       property="org.talend.repository.node.isRecycleBin">
                 </test>
             </or>
          </and>
       </possibleChildren>
       <triggerPoints>
           <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
	             <instanceof
	                   value="org.talend.repository.model.RepositoryNode">
	             </instanceof>
	             <or>
	                 <test
	                       forcePluginActivation="true"
	                       property="org.talend.repository.node.isMetadataTopNode">
	                 </test>
	                 <test
	                       property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
	                 </test>
	             </or>
               </and>
          </or>
       </triggerPoints>
       <actionProvider
             class="org.talend.sdk.component.studio.metadata.provider.NodeActionProvider"
             id="org.talend.sdk.component.studio.metadata.provider.NodeActionProvider">
          <enablement>
             <and>
                <instanceof
                      value="org.talend.repository.model.RepositoryNode">
                </instanceof>
                <or>
                   <test
                         property="org.talend.sdk.component.node.metadata.isTaCoKitNode">
                   </test>
                </or>
                <not>
                   <test
                         property="org.talend.repository.node.isDeleted">
                   </test>
                </not>
             </and>
          </enablement>
       </actionProvider>

    </navigatorContent>
  </extension>
  <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.sdk.component.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
          id="org.talend.testproject.toolbars.sampleToolbar">
        <command commandId="org.talend.sdk.component.studio.toolbar.ReloadAction"
                 icon="icon/reload-component-server_16x16.png"
                 label="Reload Server"
                 tooltip="Reload Component Kit Server">
          <visibleWhen>
            <systemTest property="component.environment" value="dev"/>
          </visibleWhen>
        </command>
      </toolbar>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
        commandId="org.talend.sdk.component.studio.toolbar.ReloadAction"
        class="org.talend.sdk.component.studio.toolbar.ReloadAction" />
  </extension>
  <extension point="org.eclipse.ui.commands">
    <category
        name="Component Kit"
        id="org.talend.sdk.component.toolbar">
    </category>
    <command
        id="org.talend.sdk.component.studio.toolbar.ReloadAction"
        name="Reload Component Kit Server">
    </command>
  </extension>
  <extension
        point="org.talend.core.migrationTask">
     <projecttask
           beforeLogon="false"
           breaks="7.1.0"
           class="org.talend.sdk.component.studio.metadata.migration.EncryptTckMetadataMigrationTask"
           description="Encrypt tck metadata password"
           id="org.talend.sdk.component.studio.metadata.migration.EncryptTckMetadataMigrationTask"
           name="EncryptTckMetadataMigrationTask"
           version="7.3.0">
     </projecttask>
  </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.talend.sdk.component.studio.startup.TacokitLoadComponentsStatusStartup">
    </startup>
 </extension>
  <!-- don't use it since there is already one which is integrated and studio doesnt support composition here
  <extension point="org.talend.core.runtime.service">
    <Service serviceId="IGenericWizardService" class="org.talend.sdk.component.studio.metadata.WizardRegistry" />
  </extension>
  -->
  <extension point="org.talend.core.runtime.buildExport_provider">
    <dependenciesProvider class="org.talend.sdk.component.studio.provider.TacokitExportDependenciesProvider"></dependenciesProvider>
  </extension>
</plugin>
