<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.designer.components.exchange.ui.views.ExchangeView"
            icon="icons/exchange_view.gif"
            id="org.talend.designer.components.exchange.ui.views.ExchangeView"
            name="Exchange"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.viewActions">
<!-- Contributions to Exchange View Toolbar -->
      <viewContribution
            targetID="org.talend.designer.components.exchange.ui.views.ExchangeView"
            id="org.talend.designer.components.exchange.view.action">
         <action
               class="org.talend.designer.components.exchange.ui.actions.RefreshComponenentsAction"
               icon="icons/refresh.gif"
               id="org.talend.designer.components.exchange.ui.actions.RefreshComponenentsAction"
               label="Refresh Componenents"
               state="false"
               style="push"
               toolbarPath="group1"
               tooltip="Refresh Componenents">
         </action>
         <action
               class="org.talend.designer.components.exchange.ui.actions.ShowInstalledExtensionsAction"
               icon="icons/download.gif"
               id="org.talend.designer.components.exchange.ui.actions.ShowInstalledExtensionsAction"
               label="Synchronous Installed Extensions"
               state="false"
               style="push"
               toolbarPath="group1"
               tooltip="Synchronous Installed Extensions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.exchange.ExchangeComponentsProvider"
            folderName="exchange"
            id="org.talend.designer.components.exchange.ExchangeComponentsProvider">
      </ComponentsProvider>
   </extension>

</plugin>
