<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.presentation.onboarding.resource">
      <jsonFileResource
            filePath="resources/onboarding.json"
            i18nClass="org.talend.presentation.onboarding.resource.di.OnBoardingJsonI18n">
      </jsonFileResource>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.talend.presentation.onboarding.resource.di.handlers.ImportDemoJobHandler"
            description="import a demo job for on-boarding presentation"
            id="org.talend.presentation.onboarding.resource.di.importdemojob"
            name="Import on-boarding demo job">
      </command>
      <command
            defaultHandler="org.talend.presentation.onboarding.resource.di.handlers.EventHandler"
            description="response for specified event"
            id="org.talend.presentation.onboarding.resource.di.handleevent"
            name="handle event">
         <commandParameter
               id="org.talend.presentation.onboarding.resource.di.handleevent.type"
               name="event type"
               optional="true">
         </commandParameter>
      </command>
   </extension>

</plugin>
