<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.component.ui.wizard.service.GenericWizardService"
            serviceId="IGenericWizardService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.component.ui.wizard.view.content.MetadataGenericContentProvider"
            id="org.talend.repository.viewer.metadata.genericConnection"
            labelProvider="org.talend.component.ui.wizard.view.content.MetadataGenericLabelProvider"
            name="Generic Connection"
            priority="higher">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isSchema">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.metadata.action.MetedataNodeActionProvier"
               id="org.talend.repository.metadata.genericConnection.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isGenericConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.component.ui.wizard.view.tester.GenericConnectionTester"
            id="org.talend.repository.node.tester.metadata.genericConnection"
            namespace="org.talend.repository.node.metadata"
            properties="isGenericConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.component.ui.wizard.action.CreateGenericConnectionAction"
            id="org.talend.component.ui.wizard.action.CreateGenericConnectionAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create generic connection">
      </Action>
      <Action
            class="org.talend.component.ui.wizard.action.EditGenericConnectionPropertiesAction"
            id="org.talend.component.ui.wizard.action.EditGenericConnectionPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericMetadata -->
      <package
            uri="http://www.talend.org/genericmetadata"
            class="org.talend.component.ui.model.genericMetadata.GenericMetadataPackage"
            genModel="model/genericMetadata.genmodel"/>
   </extension>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.component.ui.wizard.controller.generator.ButtonGenerator"
            mapping="BUTTON"
            name="Button">
      </generator>
      <generator
            class="org.talend.component.ui.wizard.controller.generator.NameAndLabelsTreeGenerator"
            mapping="NAME_SELECTION_AREA"
            name="Name Selection Area">
      </generator>
      <generator
            class="org.talend.component.ui.wizard.controller.generator.NameAndLabelsReferenceGenerator"
            mapping="NAME_SELECTION_REFERENCE"
            name="Name Selection Reference">
      </generator>
      <generator
            class="org.talend.component.ui.wizard.controller.generator.ComponentRefGenerator"
            mapping="COMPONENT_REFERENCE"
            name="Component Reference">
      </generator>
      <generator
            class="org.talend.component.ui.wizard.controller.generator.GenericPasswordGenerator"
            mapping="PASSWORD"
            name="Password">
      </generator>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.component.ui.wizard.handler.GenericRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.component.ui.wizard.ui.dnd.GenericDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.metadata.importProvider.generic"
            name="Generic Import"
            priority="LOW">
         <importItemsHandler
               class="org.talend.component.ui.wizard.handler.GenericImportHandler">
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.component.ui.wizard.ui.context.handler.GenericRepositoryContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.component.ui.wizard.model.FakeGenericExtendNode"
            label="FakeGenericNode"
            products="DI"
            type="FakeGenericNodeType">
      </repositoryNode>
   </extension>
</plugin>
