<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/json"
            class="org.talend.repository.model.json.JsonPackage"
            genModel="model/json.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="json"
            class="org.talend.repository.model.json.util.JsonResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            key="repository.metadataJSON"
            alias="JSON"
            class="org.talend.repository.json.node.JSONExtendNode"
            folder="metadata/json"
            icon="icons/JsonFile_icon16.png"
            isResouce="true"
            label="File Json"
            ordinal="49"
            parentNodeType="METADATA"
            products="DI"
            type="JSON">
      </repositoryNode>
   </extension>
   <extension
       point="org.talend.core.runtime.filepreview_provider">
      <preview
            class="org.talend.repository.json.ui.shadow.JSONShadowFilePreview"
            language="java"
            type="FILE_JSON"
            >
      </preview>
   </extension>
     <extension
       point="org.talend.core.runtime.filepreview_provider">
      <preview
            class="org.talend.designer.runprocess.shadow.ShadowFilePreview"
            language="java"
            type="FILE_XML"
            >
      </preview>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.json.node.JSONRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
         <Action
            class="org.talend.repository.json.action.EditJSONPropertiesAction"
            id="org.talend.repository.json.action.EditJSONPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.json.action.CreateJSONAction"
            id="org.talend.repository.json.action.CreateJSONAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create JSON">
      </Action>
      <Action
            class="org.talend.repository.json.action.CreateJSONSchemaAction"
            id="org.talend.repository.json.action.CreateJSONSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.json.ui.dnd.JSONDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.json.util.JSONProviderService"
            serviceId="org.talend.repository.json.util.JSONProviderService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="org.talend.repository.viewer.metadata.ldap"
            contentProvider="org.talend.repository.json.ui.MetadataJSONContentProvider"
            icon="icons/JsonFile_icon16.png"
            id="org.talend.repository.viewer.metadata.json"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="JSON"
            priority="high">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isJSONConnection">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isSchema">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isJSONConnection">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.di.metadata.action.MetedataNodeActionProvier"
               id="org.talend.repository.json.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isJSONConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.json.tester.JSONMetadataNodeTester"
            id="org.talend.repository.node.tester.metadata.json"
            namespace="org.talend.repository.node.metadata"
            properties="isJSONConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.json.JsonFileService"
            serviceId="IJsonFileService">
      </Service>
       <Service
           class="org.talend.repository.json.util.JSONProviderService"
           serviceId="IJSONProviderService">
     </Service>
     <Service
            class="org.talend.repository.json.service.JsonFileConnectionContextUpdateService"
            serviceId="IRepositoryContextUpdateService">
      </Service>
   </extension>         
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.json.importProvider"
            name="Json importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.json.handler.JsonImportHandler">
            <parameter
                  name="type"
                  value="JSON">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="6.0.0"
            class="org.talend.repository.json.migrations.JsonPathMigrationTask"
            description="Set default readby mode"
            id="org.talend.repository.json.migrations.JsonPathMigrationTask"
            name="Set default readby mode"
            version="6.0.1">
      </projecttask>
   </extension>
</plugin>
