<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.ebcdic"
              language="java"
              message="Needed for COBOL copybook"
              name="cb2xml.jar" mvn_uri="mvn:org.talend.libraries/cb2xml/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.ebcdic"
              language="java"
              message="Needed for COBOL copybook"
              name="cobol2j-1.5.3.jar" mvn_uri="mvn:org.talend.libraries/cobol2j-1.5.3/6.0.0" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
