<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.ftp.FTPProviderService"
            serviceId="org.talend.core.ui.IFTPProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.ftp.actions.CreateFTPConnectionAction"
            id="org.talend.repository.ftp.actions.CreateFTPConnectionAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create FTP">
      </Action>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            name="FTP"
            type="FTP">
         <Item
               clazz="org.talend.core.model.properties.FTPConnectionItem">
         </Item>
      </RepositoryComponent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.genericSchemas"
            contentProvider="org.talend.repository.ftp.ui.viewer.content.FtpContentProvider"
            icon="icons/ftp.png"
            id="org.talend.repository.viewer.metadata.ftp"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="FTP"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>

</plugin>
