<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.repository.ui.views.RepositoryView"
            icon="icons/nav_home_003.gif"
            id="org.talend.repository.views.repository"
            name="%RepositoryView.title"/>
   </extension>

   <extension
         id="rep.actions"
         name="Actions"
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.ui.actions.folder.CreateFolderAction"
            id="org.talend.repository.actions.createfolder"
            level="20"
            name="Create folder"/>
      <Action
            class="org.talend.repository.ui.actions.folder.RenameFolderAction"
            id="org.talend.repository.actions.renamefolder"
            level="20"
            name="Rename folder"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateConnectionAction"
            id="org.talend.repository.actions.createconnection"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create connection"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateTableAction"
            id="org.talend.repository.actions.createtable"
            level="15"
            name="Metadata/Create table"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.ReadTableAction"
            id="org.talend.repository.actions.readtable"
            level="18"
            name="Metadata/Read table"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.DeleteTableAction"
            id="org.talend.repository.actions.deletetable"
            level="40"
            name="Metadata/Delete table"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateFileDelimitedAction"
            id="org.talend.repository.actions.createfiledelimited"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file delimited"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateFilePositionalAction"
            id="org.talend.repository.actions.createfilepositional"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file positional"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateFileRegexpAction"
            id="org.talend.repository.actions.createfileregexp"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file regexp"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateFileXmlAction"
            id="org.talend.repository.actions.createfilexml"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file xml"/>
      <Action
            class="org.talend.repository.ui.actions.metadata.CreateFileLdifAction"
            id="org.talend.repository.actions.createfileldif"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create file ldif"/>
      <Action
            class="org.talend.repository.ui.actions.DeleteAction"
            id="org.talend.repository.actions.delete"
            level="40"
            name="Delete"/>
      <Action
            class="org.talend.repository.ui.actions.RestoreAction"
            id="org.talend.repository.actions.restore"
            level="40"
            name="Restore"/>
      <Action
            class="org.talend.repository.ui.actions.EmptyRecycleBinAction"
            id="org.talend.repository.actions.emptyrecyclebin"
            name="Empty recycle bin"/>
      <Action
            class="org.talend.repository.ui.actions.documentation.CreateDocumentationAction"
            id="org.talend.repository.actions.createdocumentation"
            level="10"
            name="Add documentation"/>
      <Action
            class="org.talend.repository.ui.actions.documentation.OpenDocumentationAction"
            id="org.talend.repository.actions.opendocumentation"
            isReadAction="true"
            level="11"
            name="Open documentation"/>
      <Action
            class="org.talend.repository.ui.actions.documentation.ExtractDocumentationAction"
            id="org.talend.repository.actions.extractdocumentation"
            isReadAction="true"
            level="12"
            name="Extract documentation"/>
      <Action
            class="org.talend.repository.ui.actions.documentation.UpdateDocumentationAction"
            id="org.talend.repository.actions.updatedocumentation"
            isEditAction="true"
            level="10"
            name="Update documentation"/>
      <Action
            class="org.talend.repository.ui.actions.ExpandAllAction"
            id="org.talend.repository.actions.expand"
            level="39"
            name="ExpandAll"/>
      <Action
            class="org.talend.repository.ui.actions.CopyAction"
            id="org.talend.repository.actions.copy"
            level="50"
            name="Copy"/>
      <Action
            class="org.talend.repository.ui.actions.PasteAction"
            id="org.talend.repository.actions.paste"
            level="55"
            name="Paste"/>
      <Action
            class="org.talend.repository.ui.actions.routines.EditRoutineAction"
            id="org.talend.repositorys.actions.editroutine"
            isEditAction="true"
            level="10"
            name="Edit routine"/>
      <Action
            class="org.talend.repository.ui.actions.routines.CreateRoutineAction"
            id="org.talend.repositorys.actions.createroutine"
            level="10"
            name="Create routine"/>
      <Action
            class="org.talend.repository.ui.actions.routines.ReadRoutineAction"
            id="org.talend.repositorys.actions.readroutine"
            isReadAction="true"
            level="12"
            name="Read routine"/>
       
       <Action
            class="org.talend.repository.ui.actions.ExportJobScriptAction"
            id="org.talend.repository.ui.actions.exportjobscript"
            level="99"
            name="Export job scripts"/>
       <Action
             class="org.talend.repository.ui.actions.EditPropertiesAction"
             id="org.talend.repository.actions.editProperties"
             isPropertiesAction="true"
             level="12"
             name="Edit properties"/>
       <Action
             class="org.talend.repository.ui.actions.context.CreateContextAction"
             id="org.talend.repository.createcontext"
             level="10"
             name="Create Context"/>
       <Action
             class="org.talend.repository.ui.actions.context.EditContextAction"
             id="org.talend.repository.editcontext"
             isEditAction="true"
             level="10"
             name="Edit Context"/>
       <Action
             class="org.talend.repository.ui.actions.context.ReadContextAction"
             id="org.talend.repository.readcontext"
             isEditAction="false"
             isReadAction="true"
             level="12"
             name="Read context"/>
       <Action
             class="org.talend.repository.ui.actions.GenerateDocAsHTMLAction"
             id="org.talend.repository.actions.generateDocAsHTML"
             level="98"
             name="Generate Doc as HTML"/> 
       <Action
             class="org.talend.repository.ui.actions.ConfigRoutineLibraryAction"
             id="org.talend.repository.actions.ImportExternalJAR"
             level="97"
             name="Import External JARs"/>    
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.talend.repository.views.repository"
            labelProvider="org.talend.repository.ui.properties.PropsTitleLabelProvider">
         <propertyCategory category="main"/>
         <propertyCategory category="version"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.talend.repository.views.repository">
         <propertyTab
               category="main"
               id="repository.maintab"
               label="%repository.prop.main"/>
         <propertyTab
               afterTab="main"
               category="version"
               id="repository.versiontab"
               label="%repository.prop.version"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.talend.repository.views.repository">
         <propertySection
               class="org.talend.repository.ui.properties.DateSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.ExcludeFolderSectionFilter"
               id="repository.datesection"
               tab="repository.maintab">
         </propertySection>
         <propertySection
               class="org.talend.repository.ui.properties.DescriptionSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.ExcludeFolderSectionFilter"
               id="repository.description"
               tab="repository.maintab">
         </propertySection>
         <propertySection
               class="org.talend.repository.ui.properties.PurposeStatusSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.ExcludeFolderSectionFilter"
               id="repository.purposestatussection"
               tab="repository.maintab">
         </propertySection>
         <propertySection
               class="org.talend.repository.ui.properties.VersionAuthorSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.ExcludeFolderSectionFilter"
               id="repository.versionauthorsection"
               tab="repository.maintab">
         </propertySection>
         <propertySection
               class="org.talend.repository.ui.properties.NameSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.SectionFilter"
               id="repository.namesection"
               tab="repository.maintab">
         </propertySection>
         <propertySection
               class="org.talend.repository.ui.properties.VersionSection"
               enablesFor="1"
               filter="org.talend.repository.ui.properties.SectionFilter"
               id="repository.versionsection"
               tab="repository.versiontab"/>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.repository.preference.StatusPreferencePage"
            id="org.talend.repository.prefs.status"
            name="%prefsStatusName"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="talend.repository"
            name="Talend"/>
      <command
            categoryId="talend.repository"
            id="copyItem"
            name="Copy"/>
      <command
            categoryId="talend.repository"
            id="pasteItem"
            name="Paste"/>
      <command
            categoryId="talend.repository"
            id="deleteItem"
            name="Delete"/>
      <command
            categoryId="talend.repository"
            id="restoreItem"
            name="Restore"/>
      <command
            categoryId="talend.repository"
            id="refresh"
            name="Refresh"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="copyItem"
            contextId="talend.repository"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+C"/>
      <key
            commandId="pasteItem"
            contextId="talend.repository"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+V"/>
      <key
            commandId="deleteItem"
            contextId="talend.repository"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL"/>
      <key
            commandId="restoreItem"
            contextId="talend.repository"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R"/>
      <key
            commandId="refresh"
            contextId="talend.repository"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="talend.repository"
            name="Repository view"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.talend.core.service">
      <Service
      		serviceId="IRepositoryService" 
      		class="org.talend.repository.RepositoryService"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            name="Talend"
            id="org.talend.repository.exportWizards">
      </category>
      <wizard
            name="Job Scripts"
            icon="icons/full/etool16/exportzip_wiz.gif"
            category="org.talend.repository.exportWizards"            
            class="org.talend.repository.ui.wizards.exportjob.JobScriptsExportWizard"
            id="org.talend.repository.ui.wizards.JobScriptsExportWizard">
         <description>
            Export job scripts to an archive file on the local file system.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.talend.repository.actionSet"
            label="Action set"
            visible="true">
         <action
               class="org.talend.repository.ui.actions.importproject.ImportProjectsAction"
               icon="icons/import_projects_action.gif"
               id="org.talend.repository.action3"
               label="%importProjectsAction.title"
               style="push"
               toolbarPath="Default"
               tooltip="%importProjectsAction.toolTip"/>
         <action
               class="org.talend.repository.ui.actions.importproject.ExportProjectsAsAction"
               icon="icons/export_projects_action.gif"
               id="org.talend.repository.exportProjects"
               label="%exportProjectsAction.title"
               style="push"
               toolbarPath="Default"
               tooltip="%exportProjectsAction.toolTip"/>
      </actionSet>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametRunProcessMigrationTask"
            id="org.talend.repository.migration.renametRunProcess"
            name="Rename tRunProcess"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametMysqlOutputBulkExecMigrationTask"
            id="org.talend.repository.migration.renametMysqlOutputBulkExec"
            name="Rename tMysqlOutputBulkExec"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametCatcherMigrationTask"
            id="org.talend.repository.migration.renametCatcher"
            name="Rename tCatcher"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.UpgradetUniqRowMigrationTask"
            id="org.talend.repository.migration.upgradetUniqRow"
            name="Upgrade tUniqRow (Perl)"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametDBInputToOracleMigrationTask"
            description="%migrationtask.renametDbInputToOracle.description"
            id="org.talend.repository.migration.renametDbInputToOracle"
            name="%migrationtask.renametDbInputToOracle.title"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametDBInputToMySQLMigrationTask"
            description="%migrationtask.renametDbInputToMySQL.description"
            id="org.talend.repository.migration.renametDbInputToMySQL"
            name="%migrationtask.renametDbInputToMySQL.title"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametDBInputToPostgresqlMigrationTask"
            description="%migrationtask.renametDbInputToPostgresql.description"
            id="org.talend.repository.migration.renametDbInputToPostgresql"
            name="%migrationtask.renametDbInputToPostgresql.title"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.RenametDBInputToMssqlMigrationTask"
            description="%migrationtask.renametDbInputToMssql.description"
            id="org.talend.repository.migration.renametDbInputToMssql"
            name="%migrationtask.renametDbInputToMssql.title"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.MigratetRowGeneratorMigrationTask"
            description="%migrationtask.updatetRowGenerator.description"
            id="org.talend.repository.migration.updatetRowGenerator"
            name="%migrationtask.updatetRowGenerator.title"/>
      <projecttask
            beforeLogon="false"
            class="org.talend.repository.model.migration.UpgradetWarntDiePriorityMigrationTask"
            description="%migrationtask.upgradetWarntDiePriority.description"
            id="org.talend.repository.migration.upgradetWarntDiePriority"
            name="%migrationtask.upgradetWarntDiePriority.title"/>
   </extension>
   <extension
         point="org.talend.core.librariesNeeded">
      <libraryNeeded
            context="%libraryneeded.fileldifwizard"
            language="perl"
            message="%libraryneeded.forthiswizard"
            name="Net::LDAP::LDIF"
            required="true"/>
      <libraryNeeded
            context="%libraryneeded.filedelimitedwizard"
            language="perl"
            message="%libraryneeded.forthiswizard.csv"
            name="Text::CSV_XS"
            required="false"/>
      <libraryNeeded
            context="%libraryneeded.filexmlwizard"
            language="perl"
            message="%libraryneeded.forthiswizard"
            name="XML::LibXML"
            required="true"/>
      <libraryNeeded
            context="%libraryneeded.dbconnectionwizard"
            language="java"
            message="%libraryneeded.forsqlconnection"
            name="mysql-connector-java-5.0.4-bin.jar"
            required="false"/>
      <libraryNeeded
            context="%libraryneeded.dbconnectionwizard"
            language="java"
            message="%libraryneeded.fororacleconnection"
            name="ojdbc14.jar"
            required="false"/>
      <libraryNeeded
            context="%libraryneeded.dbconnectionwizard"
            language="java"
            message="%libraryneeded.forpostgresqlconnection"
            name="postgresql-8.1-405.jdbc3.jar"
            required="false"/>
   </extension>

</plugin>
