<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d00a-mapping-1.4-20101230.181140-1.jar" mvn_uri="mvn:org.talend.libraries/d00a-mapping-1.4-20101230.181140-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d00b-mapping-1.4-20101230.182448-1.jar" mvn_uri="mvn:org.talend.libraries/d00b-mapping-1.4-20101230.182448-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01a-mapping-1.4-20101230.183534-1.jar" mvn_uri="mvn:org.talend.libraries/d01a-mapping-1.4-20101230.183534-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01b-mapping-1.4-20101230.185159-1.jar" mvn_uri="mvn:org.talend.libraries/d01b-mapping-1.4-20101230.185159-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d01c-mapping-1.4-20101230.190625-1.jar" mvn_uri="mvn:org.talend.libraries/d01c-mapping-1.4-20101230.190625-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d02a-mapping-1.4-20101230.191840-1.jar" mvn_uri="mvn:org.talend.libraries/d02a-mapping-1.4-20101230.191840-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d02b-mapping-1.4-20101230.193459-1.jar" mvn_uri="mvn:org.talend.libraries/d02b-mapping-1.4-20101230.193459-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d03a-mapping-1.4-20101230.195010-1.jar" mvn_uri="mvn:org.talend.libraries/d03a-mapping-1.4-20101230.195010-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d03b-mapping-1.4-20101230.201023-1.jar" mvn_uri="mvn:org.talend.libraries/d03b-mapping-1.4-20101230.201023-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d04a-mapping-1.4-20101230.202950-1.jar" mvn_uri="mvn:org.talend.libraries/d04a-mapping-1.4-20101230.202950-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d04b-mapping-1.4-20101230.204717-1.jar" mvn_uri="mvn:org.talend.libraries/d04b-mapping-1.4-20101230.204717-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d05a-mapping-1.4-20101230.210746-1.jar" mvn_uri="mvn:org.talend.libraries/d05a-mapping-1.4-20101230.210746-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d05b-mapping-1.4-20101230.212643-1.jar" mvn_uri="mvn:org.talend.libraries/d05b-mapping-1.4-20101230.212643-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d06a-mapping-1.4-20101230.214557-1.jar" mvn_uri="mvn:org.talend.libraries/d06a-mapping-1.4-20101230.214557-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d06b-mapping-1.4-20101230.220647-1.jar" mvn_uri="mvn:org.talend.libraries/d06b-mapping-1.4-20101230.220647-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d07a-mapping-1.4-20101230.222824-1.jar" mvn_uri="mvn:org.talend.libraries/d07a-mapping-1.4-20101230.222824-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d07b-mapping-1.4-20101230.224645-1.jar" mvn_uri="mvn:org.talend.libraries/d07b-mapping-1.4-20101230.224645-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d08a-mapping-1.4-20101230.230844-1.jar" mvn_uri="mvn:org.talend.libraries/d08a-mapping-1.4-20101230.230844-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d08b-mapping-1.4-20101230.231449-1.jar" mvn_uri="mvn:org.talend.libraries/d08b-mapping-1.4-20101230.231449-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d09a-mapping-1.4-20101230.233910-1.jar" mvn_uri="mvn:org.talend.libraries/d09a-mapping-1.4-20101230.233910-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d09b-mapping-1.4-20101231.000627-1.jar" mvn_uri="mvn:org.talend.libraries/d09b-mapping-1.4-20101231.000627-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d93a-mapping-1.4-20101231.003027-1.jar" mvn_uri="mvn:org.talend.libraries/d93a-mapping-1.4-20101231.003027-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d94a-mapping-1.4-20101231.004159-1.jar" mvn_uri="mvn:org.talend.libraries/d94a-mapping-1.4-20101231.004159-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d94b-mapping-1.4-20101231.005548-1.jar" mvn_uri="mvn:org.talend.libraries/d94b-mapping-1.4-20101231.005548-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d95a-mapping-1.4-20101231.010614-1.jar" mvn_uri="mvn:org.talend.libraries/d95a-mapping-1.4-20101231.010614-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d95b-mapping-1.4-20101231.012144-1.jar" mvn_uri="mvn:org.talend.libraries/d95b-mapping-1.4-20101231.012144-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d96a-mapping-1.4-20101231.013900-1.jar" mvn_uri="mvn:org.talend.libraries/d96a-mapping-1.4-20101231.013900-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d96b-mapping-1.4-20101231.015118-1.jar" mvn_uri="mvn:org.talend.libraries/d96b-mapping-1.4-20101231.015118-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d97a-mapping-1.4-20101231.020712-1.jar" mvn_uri="mvn:org.talend.libraries/d97a-mapping-1.4-20101231.020712-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d97b-mapping-1.4-20101231.022307-1.jar" mvn_uri="mvn:org.talend.libraries/d97b-mapping-1.4-20101231.022307-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d98a-mapping-1.4-20101231.023634-1.jar" mvn_uri="mvn:org.talend.libraries/d98a-mapping-1.4-20101231.023634-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d98b-mapping-1.4-20101231.025003-1.jar" mvn_uri="mvn:org.talend.libraries/d98b-mapping-1.4-20101231.025003-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d99a-mapping-1.4-20101231.030914-1.jar" mvn_uri="mvn:org.talend.libraries/d99a-mapping-1.4-20101231.030914-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="d99b-mapping-1.4-20101231.032348-1.jar" mvn_uri="mvn:org.talend.libraries/d99b-mapping-1.4-20101231.032348-1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.edifact"
              language="java"
              message="Needed for EDIFACT"
              name="milyn-smooks-all-1.4.jar" mvn_uri="mvn:org.talend.libraries/milyn-smooks-all-1.4/6.0.0" 
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
